<h3 mat-dialog-title
    i18n>Change token description</h3>
<form [formGroup]="form"
      (ngSubmit)="submit()">
  <mat-dialog-content>
    <p i18n>Label your token with a new description:</p>
    <mat-form-field>
      <mat-label i18n>Token description</mat-label>
      <input matInput
             type="text"
             formControlName="description"
             autofocus>
      <mat-error i18n
                 *ngIf="form.get('description').hasError('required')">This field is required.</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button
            mat-dialog-close
            i18n>Cancel</button>
    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="preventSubmit()"
            i18n>Submit</button>
  </mat-dialog-actions>
</form>