<app-token-dialog-header [token]="(data.token && currentStep === 0) ? data.token : null">
  <h2 mat-dialog-title
      i18n>Activate {{ typeDetails.name }}</h2>
</app-token-dialog-header>
<mat-horizontal-stepper [linear]="true"
                        (selectedIndexChange)="currentStep = $event"
                        linear
                        #stepper>
  <mat-step>
    <mat-dialog-content>

      <p i18n>
        Enter your token PIN or password if you have set a PIN or you are
        required to enter your password for OTP authentication:
      </p>
      <mat-form-field>
        <mat-label i18n>PIN or password</mat-label>
        <input matInput
               type="password"
               autocomplete="current-password"
               [(ngModel)]="pin"
               autofocus>
      </mat-form-field>

      <ng-container *ngIf="isPush">
        <p i18n
           class="info-if-push">
          In the next step your Authenticator app will be verified by the authentication server.
        </p>
      </ng-container>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <div i18n>Activation step 1 of 3</div>
      <span class="spacer"></span>
      <button mat-button
              (click)="close()"
              i18n>Cancel</button>
      <button mat-raised-button
              color="primary"
              id="goTo2"
              (click)="activateToken(stepper)"
              i18n>Activate</button>
    </mat-dialog-actions>
  </mat-step>

  <mat-step>
    <ng-container *ngIf="waitingForResponse; then waitingBlock else challengeResponseBlock"></ng-container>

    <ng-template #waitingBlock>
      <mat-dialog-content>
        <section class="response"
                 *ngIf="isPush">
          <mat-spinner></mat-spinner>
          <p div
             i18n>Waiting for confirmation for test transaction via Authenticator app.</p>
        </section>
        <section class="response"
                 *ngIf="isQR">
          <p i18n>Scan the QR code below with the Authenticator app to activate your token:</p>
          <app-qr-code [qrUrl]="tokenQRUrl"></app-qr-code>
        </section>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <div i18n>Activation step 2 of 3</div>
        <span class="spacer"></span>
        <button mat-button
                i18n
                (click)="close()">Cancel</button>
      </mat-dialog-actions>
    </ng-template>

    <ng-template #challengeResponseBlock>
      <mat-dialog-content>
        <section class="response">
          <p i18n
             *ngIf="restartDialog">Activation failed. Please try again, or contact an administrator.</p>
          <p i18n
             *ngIf="!restartDialog">The activation was successful. Your token is ready to be used.</p>
        </section>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <div i18n>Activation step 3 of 3</div>
        <span class="spacer"></span>
        <button mat-button
                (click)="close()"
                *ngIf="restartDialog"
                i18n>Cancel</button>
        <button mat-raised-button
                color="primary"
                (click)="resetDialogToInitial(stepper)"
                *ngIf="restartDialog"
                i18n> Restart activation </button>
        <button mat-button
                (click)="close()"
                *ngIf="!restartDialog"
                i18n>Finish</button>
      </mat-dialog-actions>
    </ng-template>

  </mat-step>
</mat-horizontal-stepper>