@import '~@angular/material/theming';

:host {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
  margin: -.5em -.5em;
}

mat-card {
  display: flex;
  flex-direction: column;
  margin: .5em .5em;

  mat-card-actions {
    display: flex;
    justify-content: center;

    button {
      flex: 1;
      text-transform: uppercase;
    }
  }
}