:host {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
  margin: -.5em -.5em;
}

mat-card {
  display: flex;
  flex-direction: column;
  margin: .5em .5em;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  mat-card-actions {
    display: flex;
    justify-content: center;

    a {
      flex: 1;
    }
  }
}