<ng-container *ngFor="let type of tokenTypes">
  <mat-card *ngxPermissionsOnly="type.enrollmentPermission">
    <mat-card-header>
      <mat-icon mat-card-avatar>{{type.icon}}</mat-icon>
      <mat-card-title>{{type.name | capitalize }}</mat-card-title>
      <mat-card-subtitle class="description">
        {{type.description}}
      </mat-card-subtitle>
    </mat-card-header>
    <div class="spacer"></div>
    <mat-card-actions>
      <a mat-button
         color="primary"
         routerLink="{{ 'enroll/' + type.type }}">
        {{type.enrollmentActionLabel}}
      </a>
    </mat-card-actions>
  </mat-card>
</ng-container>