mat-form-field {
  width: 100%
}

mat-spinner {
  margin: 100px auto;
}

.get-serial-layout {
  display: flex;
  place-items: center;
  margin: 1em 0;

  p {
    flex: 1;
  }

  &>*:not(:last-child) {
    margin-right: 1em;
  }
}

.verify {
  margin-top: 1em;
}