<h2 mat-dialog-title i18n>Register YubiCloud token</h2>
<mat-horizontal-stepper [linear]="true">
  <mat-step [completed]="false" [editable]="false">
      <mat-dialog-content>
        <ng-template matStepLabel i18n>Register token</ng-template>
        <p i18n>Register your Yubikey to authenticate against the YubiCloud.</p>
        <p i18n>To link your token, enter a generated OTP by connecting your YubiKey and pressing the button.
          Alternatively, you may enter the public ID manually:</p>
        <form [formGroup]="createTokenForm" (keydown.enter)="registerToken()">
          <mat-form-field>
            <mat-label i18n>OTP or public ID</mat-label>
            <input matInput
                   formControlName="publicId"
                   appFocusOnInit>
            <mat-error i18n>This field is required.</mat-error>
            <mat-hint i18n>Generate an OTP with your Yubikey.</mat-hint>
          </mat-form-field>
          <app-create-token-step [form]="createTokenForm"></app-create-token-step>
        </form>
      </mat-dialog-content>
  </mat-step>

  <ng-template #registerTokenStepActions>
    <app-step-actions
      [awaitingResponse]="awaitingResponse"
      [disableSubmit]="createTokenForm.invalid || awaitingResponse"
      (cancelled)="close()"
      (submitted)="registerToken()"
    >
    </app-step-actions>
  </ng-template>

  <mat-step *ngIf="verifyPolicyEnabled">
    <ng-template matStepLabel i18n>Verify</ng-template>
    <mat-dialog-content>
      <p class="verify" *ngIf="enrolledToken" i18n="@@yubikeyVerifyText">
        A yubikey with the serial number {{ enrolledToken.serial }} has been registered.
      </p>
      <app-verify-token [token]="enrolledToken" [mustContainDigitsOnly]="false" (tokenVerified)="isTokenVerified = true; stepper.next()"></app-verify-token>
    </mat-dialog-content>
  </mat-step>

  <ng-template #verifyTokenStepActions>
    <app-step-actions
      [awaitingResponse]="undefined"
      [disableSubmit]="!isTokenVerified"
      (cancelled)="cancel()"
      (submitted)="stepper.next()"
    >
    </app-step-actions>
  </ng-template>

  <mat-step>
    <ng-template matStepLabel i18n>Done</ng-template>
    <mat-dialog-content>
      <app-done-step [token]="enrolledToken"></app-done-step>
    </mat-dialog-content>
    <ng-template #doneStepActions>
      <app-step-actions [disableSubmit]="false" [isDoneStep]="true" (submitted)="close()"></app-step-actions>
    </ng-template>
  </mat-step>
</mat-horizontal-stepper>


<mat-dialog-actions align="end">
  <ng-container *ngTemplateOutlet="
        (verifyPolicyEnabled ?
        [registerTokenStepActions, verifyTokenStepActions, doneStepActions] :
        [registerTokenStepActions, doneStepActions])
        [stepper.selectedIndex]"
  ></ng-container>
</mat-dialog-actions>
