<h2 i18n>Register YubiCloud token</h2>
<mat-horizontal-stepper [linear]="true"
                        linear
                        #stepper>

  <mat-step [stepControl]="registrationForm">
    <p i18n>Register your Yubikey to authenticate against the YubiCloud.</p>
    <p i18n>Please enter its Public ID below, and an optional description:</p>

    <form [formGroup]="registrationForm"
          (submit)="registerToken()">
      <mat-form-field>
        <input matInput
               i18n-placeholder
               placeholder="Public ID or OTP"
               formControlName="publicId"
               appFocusOnInit>
        <mat-error i18n>The public ID is required.</mat-error>
        <mat-hint i18n>To link your token, enter a generated OTP by connecting your YubiKey and pressing the button.
          Alternatively, you may enter the public ID manually.</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               i18n-placeholder
               placeholder="Token description"
               formControlName="description">
        <mat-error i18n>The token description is required.</mat-error>
        <mat-hint i18n>Enter a description for your token.</mat-hint>
      </mat-form-field>

      <mat-dialog-actions align="end">
        <div i18n>Step 1 of 2</div>
        <span class="spacer"></span>
        <button mat-raised-button
                type="button"
                (click)="close()"
                i18n>Cancel</button>
        <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="registrationForm.invalid || registrationForm.disabled">
          <app-button-wait-indicator [show]="registrationForm.disabled"></app-button-wait-indicator>
          <ng-container i18n>Register token</ng-container>
        </button>
      </mat-dialog-actions>
    </form>
  </mat-step>

  <mat-step>
    <p i18n>The token was successfully linked to your user account.</p>
    <mat-dialog-actions align="end">
      <div i18n>Step 2 of 2</div>
      <span class="spacer"></span>
      <button mat-raised-button
              (click)="closeAndReturnSerial()"
              color="primary">{{ data.closeLabel }}</button>
    </mat-dialog-actions>
  </mat-step>
</mat-horizontal-stepper>
