@use '@angular/material' as mat;

.table-wrap {
  overflow-x: auto;

  table {
    width: 100%;
  }
}

.filter {
  display: flex;

  &>* {
    margin: 5px;
  }

  .mat-mdc-form-field.search-term {
    flex: 1;
  }

  mat-icon {
    align-self: center;
  }

  button {
    align-self: baseline;
  }
}

.mat-mdc-cell:not(:last-of-type),
mat-header-cell:not(:last-of-type) {
  padding-right: 8px !important;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.no-data-cell {
  padding: 25px 0px;
  text-align: center;
}