<div class="custom-content-slot custom-content-slot-login-top"
     *appHasCustomContent="'login-top'">
  <app-custom-content-slot slotId="login-top"></app-custom-content-slot>
</div>

<h1 class="cdk-visually-hidden"
    i18n>Login</h1>

<form [formGroup]="loginFormGroup"
      (ngSubmit)="login()"
      id="loginFormStage1"
      *ngIf="loginStage === 1">
  <mat-card appearance="outlined"
            class="login-card">
    <mat-card-header>
      <mat-card-title i18n="card header|login page title">Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label i18n>Username</mat-label>
        <input matInput
               formControlName="username"
               name="username"
               autocomplete="username"
               [attr.aria-invalid]="loginFormGroup.get('username').invalid && loginFormGroup.get('username').touched"
               appFocusOnInit>
        <mat-error i18n
                   *ngIf="loginFormGroup.get('username').hasError('required')">Username is required.</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="systemInfo?.settings.realm_box">
        <mat-label i18n>Realm</mat-label>
        <mat-select formControlName="realm"
                    name="realm">
          <mat-option *ngFor="let realm of systemInfo.realms | keyvalue"
                      [value]="realm.key">
            {{realm.value['realmname']}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n>Password</mat-label>
        <input matInput
               type="password"
               formControlName="password"
               name="password"
               autocomplete="current-password"
               [attr.aria-invalid]="loginFormGroup.get('password').invalid && loginFormGroup.get('password').touched"
               [appFocusOnInit]="isUsernameFilled()"
               >
        <mat-error i18n
                   *ngIf="loginFormGroup.get('password').hasError('required')">Password is required.</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="systemInfo?.settings.mfa_login && systemInfo?.settings.mfa_3_fields">
        <mat-label i18n>One-time password (OTP)</mat-label>
        <input matInput
               formControlName="otp"
               name="otp"
               autocomplete="one-time-code"
               [attr.aria-invalid]="loginFormGroup.get('otp')?.invalid && loginFormGroup.get('otp')?.touched">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button
              type="submit"
              color="primary"
              [disabled]="awaitingResponse">
        <app-button-wait-indicator [show]="awaitingResponse"></app-button-wait-indicator>
        <ng-container i18n="login action|login page submit button">Login</ng-container>
      </button>
    </mat-card-actions>
  </mat-card>
</form>

<mat-card appearance="outlined"
          id="loginStage2"
          *ngIf="loginStage === 2">
  <mat-card-header>
    <mat-card-title i18n="card header|login page title">2-step authentication</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="factors && factors.length > 0; else noFactors">
      <p i18n><b>Please choose an authentication method to verify that it is you logging in:</b></p>
      <mat-action-list class="token-list">
        <button mat-list-item
                *ngFor="let token of factors; index as i"
                class="token token-list-item"
                #tokenListItem
                (click)="chooseSecondFactor(token)">
          <h3 matLine
              class="token-list-item-heading">
            <mat-icon>{{token.typeDetails.icon}}</mat-icon>
            {{token.typeDetails.name}}
          </h3>
          <p matLine
             class="token-list-item-description">
            {{token.description}} ({{token.serial}})
          </p>
          <p matLine
             class="token-list-item-prompt">
            {{token.typeDetails.authenticationPrompt}}
          </p>
        </button>
        <button mat-list-item
                class="cancel token-list-item"
                #tokenListItem
                (click)="resetAuthForm()">
          Cancel
        </button>
      </mat-action-list>
      <div *ngIf="showKeyboardTip"
           class="keyboard-hint">
        <div>
          <div class="message"
               i18n>Tip: You can use your keyboard to select a token</div>
          <div class="keys"
               i18n>
            <app-keyboard-key icon="keyboard_arrow_up"></app-keyboard-key> +
            <app-keyboard-key icon="keyboard_arrow_down"></app-keyboard-key> and
            <app-keyboard-key icon="keyboard_return"></app-keyboard-key>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noFactors>
      <p i18n>You do not own any valid tokens or there was a problem retrieving them from the server.
        Please contact an administrator.</p>
      <button mat-button
              (click)="resetAuthForm()">
        Retry
      </button>
    </ng-template>
  </mat-card-content>
</mat-card>

<form [formGroup]="secondFactorFormGroup"
      (ngSubmit)="submitSecondFactor()"
      id="loginFormStage3"
      *ngIf="loginStage === 3">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title i18n="card header|login page title">2-step authentication</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p i18n>Selected authentication method:
        <span class="selectedToken">
          {{ selectedToken.typeDetails.name }} with serial {{ selectedToken.serial }}
        </span>
      </p>

      <ng-container *ngIf="!hasOnlineMode">
        <ng-container [ngSwitch]="handledTokenType">
          <p *ngSwitchCase="TokenType.PASSWORD"
             i18n>Please enter the password of the selected token:</p>
          <p *ngSwitchCase="TokenType.YUBICO || TokenType.YUBIKEY"
             i18n>Please connect your Yubikey and press its button.</p>
          <p *ngSwitchDefault
             i18n>Please enter the current OTP for the selected token:</p>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="transactionDetail && qrCodeData">
        <div class="instruction center-text"
             i18n>
          Scan the QR code with your LinOTP Authenticator app:
        </div>

        <div class="dialog-input">
          <app-qr-code [qrUrl]="qrCodeData"></app-qr-code>
        </div>
      </ng-container>

      <ng-container *ngIf="transactionDetail && !hasOfflineMode && hasOnlineMode">
        <mat-spinner class="polling"></mat-spinner>
        <div class="instruction center-text"
             i18n>
          Waiting for confirmation of transaction
          <b><code>{{ shortTransactionId }}</code></b> via your LinOTP Authenticator app.
        </div>
      </ng-container>

      <div class="otpInput">
        <button mat-button
                (click)="showInput()"
                *ngIf="transactionDetail && hasOnlineMode && hasOfflineMode && !showInputField"
                i18n>Manually enter OTP</button>
      </div>
      <ng-container *ngIf="!transactionDetail || !hasOnlineMode || showInputField">
        <mat-form-field *ngIf="handledTokenType === TokenType.PASSWORD; else standardTokenTypeTmp">
          <mat-label i18n>Password</mat-label>
          <input matInput
                 type="password"
                 formControlName="otp"
                 name="otp"
                 autocomplete="current-password"
                 [attr.aria-invalid]="secondFactorFormGroup.get('otp').invalid && secondFactorFormGroup.get('otp').touched"
                 appFocusOnInit>
          <mat-error i18n
                     *ngIf="secondFactorFormGroup.get('otp').hasError('required')">Password is required.</mat-error>
        </mat-form-field>
        <ng-template #standardTokenTypeTmp>
          <mat-form-field>
            <mat-label i18n>OTP value</mat-label>
            <input matInput
                   type="text"
                   formControlName="otp"
                   name="otp"
                   autocomplete="one-time-code"
                   [attr.aria-invalid]="secondFactorFormGroup.get('otp').invalid && secondFactorFormGroup.get('otp').touched"
                   appFocusOnInit>
            <mat-error i18n
                       *ngIf="secondFactorFormGroup.get('otp').hasError('required')">OTP is required.</mat-error>
          </mat-form-field>
        </ng-template>
      </ng-container>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button
              class="cancel-btn-stage-3"
              type="reset"
              color="primary"
              (click)="resetAuthForm()"
              i18n="2nd factor login action|login page second factor cancel button">Cancel</button>
      <button mat-flat-button
              type="submit"
              color="primary"
              [disabled]="awaitingResponse"
              *ngIf="!transactionDetail || !hasOnlineMode || showInputField">
        <app-button-wait-indicator [show]="awaitingResponse"></app-button-wait-indicator>
        <ng-container i18n="2nd factor login action|login page second factor submit button">Submit</ng-container>
      </button>
    </mat-card-actions>
  </mat-card>
</form>