@use '@angular/material' as mat;

mat-card {
  margin: 0 auto;
}

.login-card {
  width: 35em;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  justify-content: flex-end;
}

mat-card-title {
  margin-bottom: 1em;
}

span.selectedToken {
  display: inline-block;

  &::first-letter {
    text-transform: uppercase;
  }
}

.token-list-item-heading {
  text-transform: capitalize;
  margin: 0px;

  mat-icon {
    vertical-align: middle;
    margin-right: 3px;
  }
}

.token-list-item-description {
  font-style: italic;
  margin-bottom: 0px;
}

.token-list-item-prompt {
  padding-top: 4px !important;
  margin-bottom: 0;
}

.token.mat-mdc-list-item {
  height: 112px !important;
}

.keyboard-hint {
  margin-top: 2em;
  flex-direction: column;
  display: flex;
  align-items: center;

  &>* {
    border: 1px solid currentColor;
    padding: .5em 1em;
    text-align: center;
  }
}

mat-spinner {
  margin: 50px auto;
}

.center-content {
  margin: 20px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.center-text {
  text-align: center;
}

.instruction {
  margin: 1em 0;
}

.otpInput {
  display: flex;
  justify-content: center;
}

.cancel-btn-stage-3 {
  margin-right: 0.5rem;
}

.cancel.token-list-item {
  text-align: center;
}