@use '@angular/material' as mat;
@import './../../theme.scss';

mat-card {
  width: 35em;
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  justify-content: flex-end;
}

mat-card-title {
  margin-bottom: 1em;
}

span.selectedToken {
  display: inline-block;

  &::first-letter {
    text-transform: uppercase
  }
}

#loginStage2 .token-list>* {
  border-left: 5px solid transparent;

  &:focus {
    border-left-color: mat.get-color-from-palette($theme-app-primary, 500);
  }
}

.token-list-item-heading {
  text-transform: capitalize;
  margin: 0px;
  padding-top: 36px;

  mat-icon {
    vertical-align: middle;
    margin-right: 3px;
  }
}

.token-list-item-description {
  color: rgba(0, 0, 0, 0.54);
  font-style: italic;
}

.token-list-item-prompt {
  padding-top: 4px !important;
  padding-bottom: 16px;
}

.token.mat-mdc-list-item {
  height: 112px !important;
}

.keyboard-hint {
  margin-top: 2em;
  flex-direction: column;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);

  &>* {
    border: 1px solid currentColor;
    padding: .5em 1em;
    text-align: center;
  }
}

mat-spinner {
  margin: 50px auto;
}

.center-content {
  margin: 20px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.center-text {
  text-align: center;
}

.instruction {
  margin: 1em 0;
}

.otpInput {
  display: flex;
  justify-content: center;
}