<div>
  Status: {{message}}
</div>
<br>
<mat-card *ngIf="!isLoggedIn">
  <mat-card-title>Login</mat-card-title>
  <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
    <mat-form-field>
      <input matInput formControlName="username" placeholder="Username">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName="password" placeholder="Password">
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Login</button>
  </form>
</mat-card>
<br>
<div *ngIf="isLoggedIn">
  <p class="mat-line">
    <button mat-raised-button class="mat-accent" (click)="logout()">Logout</button>
  </p>
</div>
