@use '@angular/material' as mat;


@mixin global-styles() {

.alert {
  border: 1px solid var(--mat-sys-outline-variant);
  box-shadow: var(--mat-sys-level1);
  &.info {
    background-color: #e4f1fb;
  }
  &.warning {
    color: #000;
    background-color: #fce5bb;
  }
  &.error {
    color: var(--mat-sys-on-error-container);
    background-color: var(--mat-sys-error-container);
  }
}
}
