@use '@angular/material' as mat;

.mat-mdc-raised-button.mat-primary .mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: white;
}

.alert.warning {
  color: #856404 !important;
  // background: mat.m2-get-color-from-palette($theme-app-accent, 100);
}

.alert.error {
  color: white;
  // background: mat.m2-get-color-from-palette($theme-app-warn, 700);
}

.alert.info {
  color: white;
  // background: mat.m2-get-color-from-palette($theme-app-primary, A100);
}
