@use '@angular/material' as mat;

$theme-app-primary: mat.m2-define-palette((50: #e4e4e6,
      100: #bcbcc0,
      200: #8f9096,
      300: #62646c,
      400: #40424d,
      500: #1e212d,
      600: #1a1d28,
      700: #161822,
      800: #12141c,
      900: #0a0b11,
      A100: #557fff,
      A200: #2259ff,
      A400: #003bee,
      A700: #0035d4,
      contrast: (50: black,
        100: black,
        200: black,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: black,
        A200: white,
        A400: white,
        A700: white,
      ),
    ));

$theme-app-accent: mat.m2-define-palette((50: #fdf9ea,
      100: #f9efca,
      200: #f6e5a7,
      300: #f2db84,
      400: #efd369,
      500: #eccb4f,
      600: #eac648,
      700: #e7be3f,
      800: #e4b836,
      900: #dfac26,
      A100: #ffffff,
      A200: #fff8e7,
      A400: #ffe9b4,
      A700: #ffe29b,
      contrast: (50: black,
        100: black,
        200: black,
        300: black,
        400: black,
        500: black,
        600: black,
        700: black,
        800: black,
        900: black,
        A100: black,
        A200: black,
        A400: black,
        A700: black,
      ),
    ));

$theme-app-warn: mat.m2-define-palette((50: #ffebee,
      100: #ffcdd2,
      200: #ef9a9a,
      300: #e57373,
      400: #ef5350,
      500: #f44336,
      600: #e53935,
      700: #d32f2f,
      800: #c62828,
      900: #b71c1c,
      A100: #ff8a80,
      A200: #ff5252,
      A400: #ff1744,
      A700: #d50000,
      contrast: (50: black,
        100: black,
        200: black,
        300: black,
        400: black,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: black,
        A200: white,
        A400: white,
        A700: white,
      ),
    ));

$theme: mat.m2-define-light-theme((color: (primary: $theme-app-primary,
        accent: $theme-app-accent,
        warn: $theme-app-warn,
      ),
      typography: mat.m2-define-typography-config(),
      density: 0,
    ));

.mat-mdc-raised-button.mat-primary .mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: white;
}

.alert.warning {
  color: #856404 !important;
  background: mat.m2-get-color-from-palette($theme-app-accent, 100);
}

.alert.error {
  color: white;
  background: mat.m2-get-color-from-palette($theme-app-warn, 700);
}

.alert.info {
  color: white;
  background: mat.m2-get-color-from-palette($theme-app-primary, A100);
}
