/* Global imports */
@use '@angular/material' as mat;
@use 'themes/light' as light-theme;
@use './fonts.scss'; // importing locally hosted fonts
@use './theme.scss';
/* end of global imports */

/* Global styles: */

html,
body {
  margin: 0;
  height: 100%;
}

/* Remove the spacing needed for hints */
/* use class .inline-no-hint in mat form fields to activate this rule */
.mat-mdc-form-field.inline-no-hint {

  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-underline {
    bottom: 0;
  }

  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-subscript-wrapper {
    display: none;
  }
}

.mat-mdc-card-outlined {
  // token card styling
  background-color: var(--mat-sys-surface-container-low) !important;
}

mat-card.disabled {
  // token card styling (disabled)
  opacity: 0.65;
  mat-card-subtitle {
    opacity: 1;
  }
}

.mat-mdc-form-field {
  margin-bottom: 10px;
}

.spacer {
  flex: 1;
}

.underline {
  text-decoration: underline;
}

.mdc-button {
  text-transform: uppercase;
}

.mat-mdc-dialog-container mat-horizontal-stepper .mat-mdc-dialog-content {
  padding-top: 0;
}

qrcode canvas {
  border-radius: 7px;
}

.custom-content-slot {
  margin: 1.8rem 0;
}

nav .active-link {
  font-weight: bold;
  background: #f5f5f521;
}

.custom-content-slot-custom-page markdown {
  img {
    max-width: 100%;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
}

.mat-horizontal-stepper-header-container {
  //targets the stepper in the enrollment dialog
  margin-bottom: 20px;
  pointer-events: none;
}
