@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $color-config: mat.m2-get-color-config($theme);
  $warn-palette: map.get($color-config, 'warn');
  $warn-700: mat.m2-get-color-from-palette($warn-palette, 700);

  .warning {
    color: mat.m2-get-color-from-palette($warn-palette, 500);
  }

  .notification-error {
    --mdc-snackbar-container-color:#{$warn-700};
    --mat-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
  }
}

@mixin light-theme($theme) {
  mat-card.disabled {
    --mdc-outlined-card-container-color: hsla(0, 0%, 94%, 1);

    * {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}


@mixin dark-theme($theme) {
  input {
    color-scheme: dark;
  }

  mat-card.disabled {
    --mdc-outlined-card-container-color: hsla(0, 0%, 20%, 1);

    * {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}