/* Global imports */
@use '@angular/material' as mat;
@use 'themes/light' as light-theme;
@import url('https://fonts.googleapis.com/css?family=Roboto|Material+Icons');
@import './theme.scss';
@import './material/stepper';
/* end of global imports */

/* Global styles: */

html,
body {
  margin: 0;
  height: 100%;
}

app-root {
  background: whitesmoke;
}

/* Remove the spacing needed for hints */
/* use class .inline-no-hint in mat form fields to activate this rule */
.mat-mdc-form-field.inline-no-hint {

  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-underline {
    bottom: 0;
  }

  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-subscript-wrapper {
    display: none;
  }
}

.mat-mdc-form-field {
  margin-bottom: 10px;
}

.spacer {
  flex: 1;
}

.mdc-button {
  text-transform: uppercase;
}

.mat-mdc-dialog-container mat-horizontal-stepper .mat-mdc-dialog-content {
  padding-top: 0;
}