@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $warn-palette: map.get($color-config, 'warn');
  $warn-700: mat.get-color-from-palette($warn-palette, 700);

  .warning {
    color: mat.get-color-from-palette($warn-palette, 500);
  }

  .notification-error {
    --mdc-snackbar-container-color:#{$warn-700};
    --mat-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
  }
}

@mixin dark-theme($theme) {
  input {
    color-scheme: dark;
  }
}