@use '@angular/material' as mat;
@use '../app/login/login.component.theme.scss' as login;
@use '../app/app.component.theme.scss' as app-root;
@use '../app/history/history.component.theme.scss' as history;
@use '../app/keyboard-key/keyboard-key.component.theme.scss' as keyboard-key;
@use '../app/token-list/token-list.component.theme.scss' as token-list;
@use './themes/light.scss' as light-theme;
@use './themes/dark.scss' as dark-theme;

@include mat.elevation-classes();
@include mat.app-background();

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$orange-palette,
            typography: 'Roboto',
            density: 0
          ));
  @include mat.strong-focus-indicators((border-color: var(--mat-sys-primary),
      border-width: 4px,
      border-radius: 2px,
    ));
}

body {
  font-family: 'Roboto';
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  border-color: var(--mat-sys-outline);
}

.theme-light {
  color-scheme: light;
  @include light-theme.global-styles();
}

.theme-dark {
  color-scheme: dark;
  @include dark-theme.global-styles();
}