<h2>Enroll {{ tokenTypeDetails.name }}</h2>

<mat-horizontal-stepper [linear]="true"
                        linear
                        #stepper>

  <mat-step [stepControl]="enrollmentStep"
            id="stepDescription">
    <p>
      You have chosen to enroll a {{ tokenTypeDetails.name }}.
    </p>
    <p>
      You need an OATH compatible soft token app installed on your mobile
      device to use this kind of token, such as:
    </p>
    <ul>
      <li>FreeOTP</li>
      <li>Google Authenticator</li>
    </ul>
    <p>
      If you are not sure whether your app is compatible, you will later have
      the possibility to test the token. Should
      the test
      fail, you can install another app and try again.
    </p>
    <p>
      Once you have an app installed on your device, you can set a
      description for your new token and start the
      enrollment process:
    </p>
    <form [formGroup]="enrollmentForm">
      <mat-form-field>
        <input matInput
               placeholder="Token description"
               formControlName="description"
               autofocus>
        <mat-error>
          The token description is required. It should help you identify the
          token at a later point. It could, for
          example, refer to
          its usage scenario.
        </mat-error>
        <mat-hint>
          The token description should help you identify the token at a later
          point. It could, for example, refer to
          its usage scenario.
        </mat-hint>
      </mat-form-field>
    </form>
    <mat-dialog-actions align="end">
      <div>Enrollment 1 of 3</div>
      <span class="spacer"></span>
      <button mat-raised-button
              (click)="cancelDialog()">Cancel</button>
      <button mat-raised-button
              color="primary"
              [disabled]="enrollmentForm.invalid"
              (click)="goToTokenInfo(stepper)"
              id="goTo2">Next</button>
    </mat-dialog-actions>
  </mat-step>

  <mat-step active="false"
            id="stepShowQR">
    <div *ngIf="enrolledToken">
      <p>
        A token with the serial number {{enrolledToken.serial}} (description:
        {{ enrollmentForm.get('description').value}}) has been enrolled.
      </p>
      <p>
        Scan the QR code below with your soft token app or
        <a [href]="enrolledToken.url">follow this link</a>
        to install it on your mobile device.</p>
      <ngx-qrcode qrc-element-type="url"
                  [qrc-value]="enrolledToken.url"></ngx-qrcode>
    </div>
    <p>
      Follow the instructions on your app to install the soft token profile.
    </p>
    <mat-dialog-actions align="end">
      <div>Enrollment 2 of 3</div>
      <span class="spacer"></span>
      <button mat-raised-button
              (click)="cancelDialog()">Cancel</button>
      <button mat-raised-button
              color="primary"
              (click)="stepper.next()">Next</button>
    </mat-dialog-actions>
  </mat-step>

  <mat-step active="false"
            id="stepPIN">
    <p>
      If you wish to set a security PIN, please do so now:
      <button mat-raised-button
              color="primary"
              (click)="setPin()">Set pin</button>
    </p>
    <p class="mat-hint hint">
      Setting a PIN helps you protect your token against misuse.
    </p>
    <p>
      To finalize, we will verify if your token is correctly enrolled via a
      test authentication.
    </p>
    <mat-dialog-actions align="end">
      <div>Enrollment 3 of 3</div>
      <span class="spacer"></span>
      <button mat-raised-button
              color="primary"
              (click)="closeDialog()">{{ data.closeLabel || 'Done' }}
      </button>

    </mat-dialog-actions>
  </mat-step>
</mat-horizontal-stepper>