<h2>Enroll {{ data.tokenTypeDetails.name }}</h2>

<mat-horizontal-stepper [linear]="true"
                        linear
                        #stepper>

  <mat-step [stepControl]="enrollmentStep"
            id="stepDescription">
    <p>
      You have chosen to enroll a {{ data.tokenTypeDetails.name }}.
    </p>
    <p>
      You need an OATH compatible soft token app installed on your mobile
      device to use this kind of token, such as:
    </p>
    <ul>
      <li>FreeOTP</li>
      <li>Google Authenticator</li>
    </ul>
    <p>
      If you are not sure whether your app is compatible, you will later have
      the possibility to test the token. Should
      the test
      fail, you can install another app and try again.
    </p>
    <p>
      Once you have an app installed on your device, you can start the
      enrollment process:
    </p>
    <mat-dialog-actions align="end">
      <div>Enrollment step 1 of 3</div>
      <span class="spacer"></span>
      <button mat-raised-button
              (click)="cancelDialog()">Cancel</button>
      <button mat-raised-button
              color="primary"
              (click)="enrollToken(stepper)"
              id="goTo2">Next</button>
    </mat-dialog-actions>
  </mat-step>

  <mat-step active="false"
            id="stepShowQR">
    <div *ngIf="enrolledToken">
      <p>
        A token with the serial number {{enrolledToken.serial}} has been
        enrolled.
      </p>
      <p>
        Scan the QR code below with your soft token app or
        <a [href]="enrolledToken.url">follow this link</a>
        to install it on your mobile device.</p>
      <ngx-qrcode qrc-element-type="url"
                  [qrc-value]="enrolledToken.url"></ngx-qrcode>
    </div>
    <p>
      Follow the instructions on your app to install the soft token profile.
    </p>
    <mat-dialog-actions align="end">
      <div>Enrollment step 2 of 3</div>
      <span class="spacer"></span>
      <button mat-raised-button
              (click)="cancelDialog()">Cancel</button>
      <button mat-raised-button
              color="primary"
              (click)="stepper.next()">Next</button>
    </mat-dialog-actions>
  </mat-step>

  <mat-step active="false"
            id="stepPIN">
    <ng-container *ngxPermissionsOnly="Permission.SETPIN">
      <p>
        If you wish to set a security PIN, please do so now:
        <button mat-raised-button
                color="primary"
                (click)="setPin()">Set pin</button>
      </p>
      <p class="mat-hint hint">
        Setting a PIN helps you protect your token against misuse.
      </p>
    </ng-container>
    <p>
      To finalize, we will verify if your token is correctly enrolled via a
      test authentication.
    </p>
    <mat-dialog-actions align="end">
      <div>Enrollment step 3 of 3</div>
      <span class="spacer"></span>
      <button mat-raised-button
              color="primary"
              (click)="closeDialog()">Test Token</button>
    </mat-dialog-actions>
  </mat-step>

</mat-horizontal-stepper>