<h2 i18n>Enroll {{ data.tokenTypeDetails.name }}</h2>

<mat-horizontal-stepper [linear]="true"
                        linear>

  <mat-step [stepControl]="enrollmentStep"
            id="stepDescription">
    <p i18n>You need an OATH compatible soft token app installed on your mobile
      device to use this kind of token, such as:</p>
    <ul>
      <li>FreeOTP</li>
      <li>Google Authenticator</li>
    </ul>
    <p i18n>If you are not sure whether your app is compatible, you will later have
      the possibility to test the token. Should the test fail, you can install another app and try again.</p>
    <p i18n>Once you have an app installed on your device, you can start the
      enrollment process.</p>
    <mat-dialog-actions align="end">
      <div i18n>Enrollment step 1 of 3</div>
      <span class="spacer"></span>
      <button mat-raised-button
              (click)="cancelDialog()"
              i18n>Cancel</button>
      <button mat-raised-button
              color="primary"
              (click)="enrollToken()"
              id="goTo2"
              i18n>Next</button>
    </mat-dialog-actions>
  </mat-step>

  <mat-step active="false"
            id="stepShowQR">
    <div *ngIf="enrolledToken">
      <p i18n>A token with the serial number {{enrolledToken.serial}} has been enrolled.</p>
      <p i18n>Scan the QR code below with your soft token app or <a [href]="enrolledToken.url">follow this link</a> to
        install it on your mobile device.</p>

      <qrcode [qrdata]="enrolledToken.url"
              [size]="256"
              [level]="'L'"></qrcode>

      <div class="toggle-details">
        <button (click)="showDetails = !showDetails"
                mat-button
                color="primary"
                matTooltip="Toggle enrollment details"
                aria-label="Button to toggle the display of enrollment details"
                *ngIf="showDetails"
                i18n>hide details</button>
        <button (click)="showDetails = !showDetails"
                mat-button
                color="primary"
                matTooltip="Toggle enrollment details"
                aria-label="Button to toggle the display of enrollment details"
                *ngIf="!showDetails"
                i18n>show details</button>
      </div>

      <div class="detail"
           *ngIf="showDetails">
        <mat-form-field appearance="outline"
                        class="inline-no-hint">
          <mat-label i18n>Enrollment URL</mat-label>
          <input matInput
                 #enrollmentUrl
                 [value]="enrolledToken.url"
                 (focus)="$event.target.select()"
                 readonly>
        </mat-form-field>
        <button mat-icon-button
                (click)="$event.preventDefault(); copyInputMessage(enrollmentUrl)"
                matTooltip="Copy"
                aria-label="Button to copy the enrollment URL">
          <mat-icon>file_copy</mat-icon>
        </button>
      </div>

      <div class="detail"
           *ngIf="showDetails">
        <mat-form-field appearance="outline"
                        class="inline-no-hint">
          <mat-label i18n>Seed</mat-label>
          <input matInput
                 #enrollmentSeed
                 [value]="enrolledToken.seed"
                 (focus)="$event.target.select()"
                 readonly>
        </mat-form-field>
        <button mat-icon-button
                (click)="copyInputMessage(enrollmentSeed)"
                matTooltip="Copy"
                aria-label="Button to copy the seed">
          <mat-icon>file_copy</mat-icon>
        </button>
      </div>

    </div>

    <mat-dialog-actions align="end">
      <div i18n>Enrollment step 2 of 3</div>
      <span class="spacer"></span>
      <button mat-raised-button
              (click)="cancelDialog()"
              i18n>Cancel</button>
      <button mat-raised-button
              color="primary"
              (click)="stepper.next()"
              i18n>Next</button>
    </mat-dialog-actions>
  </mat-step>

  <mat-step active="false"
            id="stepPIN">
    <p i18n>Your token is now enrolled.</p>
    <ng-container *ngxPermissionsOnly="Permission.SETPIN">
      <p i18n>If you wish to set a security PIN, please do so now:</p>
      <button mat-raised-button
              color="primary"
              (click)="setPin()"
              i18n>Set pin</button>
      <p class="mat-hint hint"
         i18n>Setting a PIN helps you protect your token against misuse.</p>
    </ng-container>
    <mat-dialog-actions align="end">
      <div i18n>Enrollment step 3 of 3</div>
      <span class="spacer"></span>
      <button mat-raised-button
              color="primary"
              (click)="closeDialog()"
              i18n>Close</button>
    </mat-dialog-actions>
  </mat-step>

</mat-horizontal-stepper>
