<h2 mat-dialog-title
    i18n>Add {{ this.tokenDisplayData.name }}</h2>
<mat-horizontal-stepper [linear]="true"
                        responsiveOrientation
                        class="flex-grow-1">
  <mat-step [completed]="true"
            [editable]="false"
            label="Install app"
            i18n-label>
    <mat-dialog-content>
      <ng-template matStepLabel
                   i18n>Install app</ng-template>
      <h3 class="cdk-visually-hidden"
          i18n>Install app</h3>
      <div i18n="@@oathStepperIntroduction">
        <p>
          This step-by-step guide will help you to create a new token and import
          it onto your device.
        </p>
        <p>
          To import the token, you will need an OATH-compatible authenticator
          app:
        </p>
      </div>
      <app-authenticator-links [tokenType]="tokenDisplayData.type"></app-authenticator-links>
      <p i18n="@@oathStepperAppInstalledConfirmInfo">
        Once you have the app installed on your device, you can start the token
        setup process.
      </p>
    </mat-dialog-content>

    <ng-template #installAppStepActions>
      <app-step-actions [awaitingResponse]="awaitingResponse"
                        [disableSubmit]="createTokenForm.invalid"
                        (cancelled)="close()"
                        (submitted)="goToNextStep(stepper)">
      </app-step-actions>
    </ng-template>
  </mat-step>

  <mat-step [completed]="false"
            [editable]="false"
            label="Create token"
            i18n-label>
    <ng-template matStepLabel
                 i18n>Create token</ng-template>
    <ng-template matStepContent>
      <mat-dialog-content>
        <h3 class="cdk-visually-hidden"
            i18n>Create token</h3>
        <app-create-token-step [form]="createTokenForm"
                               (keydown.enter)="enrollOATHToken()"
                               setAutoFokus="true"></app-create-token-step>
      </mat-dialog-content>
    </ng-template>
    <ng-template #createTokenStepActions>
      <app-step-actions [awaitingResponse]="awaitingResponse"
                        [disableSubmit]="awaitingResponse"
                        (cancelled)="close()"
                        (submitted)="enrollOATHToken()">
      </app-step-actions>
    </ng-template>
  </mat-step>

  <mat-step [completed]="tokenVerified || (enrolledToken && !verifyPolicyEnabled)"
            label="Import token into app"
            i18n-label>
    <ng-template matStepLabel
                 i18n>Import token into app</ng-template>
    <ng-template matStepContent>
      <mat-dialog-content>
        <h3 class="cdk-visually-hidden"
            i18n>Import token into app</h3>
        <app-import-token-step [verifyFlowEnabled]="verifyPolicyEnabled"
                               [enrolledToken]="enrolledToken"
                               #importTokenStep
                               (completed)="tokenVerified = true"></app-import-token-step>
      </mat-dialog-content>
    </ng-template>

    <ng-template #verifyTokenStepActions>
      <app-step-actions [awaitingResponse]="undefined"
                        [disableSubmit]="!tokenVerified && verifyPolicyEnabled"
                        (cancelled)="cancel()"
                        (submitted)="goToNextStep(stepper)"></app-step-actions>
    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel
                 i18n>Done</ng-template>
    <ng-template matStepContent>
      <mat-dialog-content>
        <h3 class="cdk-visually-hidden"
            i18n>Done</h3>
        <app-done-step [token]="enrolledToken"></app-done-step>
      </mat-dialog-content>
    </ng-template>

    <ng-template #doneStepActions>
      <app-step-actions [disableSubmit]="false"
                        [isDoneStep]="true"
                        (submitted)="close()"></app-step-actions>
    </ng-template>
  </mat-step>
</mat-horizontal-stepper>

<mat-dialog-actions align="end">
  <ng-container *ngTemplateOutlet="
      [
        installAppStepActions,
        createTokenStepActions,
        verifyTokenStepActions,
        doneStepActions
      ][stepper.selectedIndex]
    ">
  </ng-container>
</mat-dialog-actions>