<form [formGroup]="formGroup"
      (ngSubmit)="submit()"
      #formDirective="ngForm">

  <h2 mat-dialog-title
      *ngIf="data.token">Test {{ data.token.typeDetails.name }} {{
    data.token.serial }}</h2>

  <div mat-dialog-content>
    <ng-container [ngSwitch]="state">
      <ng-container *ngSwitchCase="TestState.UNTESTED">
        <div mat-dialog-content>
          <div class="dialog-input">
            <div class="instruction">Enter your token PIN or password if you
              have set a PIN or you are required to
              enter your
              password for OTP authentication:</div>
            <mat-form-field>
              <input matInput
                     type="password"
                     autocomplete="current-password"
                     formControlName="pin"
                     placeholder="PIN or password"
                     autofocus>
            </mat-form-field>
          </div>
          <div class="dialog-input">
            <div class="instruction">Enter the next OTP value of the selected
              token:</div>
            <mat-form-field>
              <input matInput
                     type="text"
                     autocomplete="one-time-code"
                     formControlName="otp"
                     placeholder="OTP value">
              <mat-error>The OTP cannot be empty</mat-error>
            </mat-form-field>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="TestState.SUCCESS">
        <div>
          Test successful. You may use your token for authentication.
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="TestState.FAILURE">
        The test failed. Check if both the OTP and the PIN (if applicable)
        are correct.
      </ng-container>

    </ng-container>
  </div>

  <div mat-dialog-actions>
    <button mat-button
            mat-dialog-close
            *ngIf="state !== TestState.SUCCESS">cancel</button>
    <button mat-raised-button
            color="primary"
            type="reset"
            (click)="reset()"
            *ngIf="state === TestState.FAILURE">restart test</button>
    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="formGroup.invalid"
            *ngIf="state === TestState.UNTESTED">test</button>
    <button mat-raised-button
            color="primary"
            mat-dialog-close
            *ngIf="state === TestState.SUCCESS">done</button>
  </div>

</form>