:host {
  display: block;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-actions {
  justify-content: end;
}

mat-card-subtitle {
  opacity: 0.75;
}

.mat-divider:first-child,
.mat-divider:last-child {
  display: none; // do not show divider between elements if no elements above or below
}