:host {
  display: block;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
mat-card-content {
  padding: 0 16px 0 16px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
mat-card-footer {
  padding: 0 32px 16px 32px;
  text-align: right;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
mat-card.disabled {
  background: hsla(0, 0%, 94%, 1);

  * {
    color: rgba(0, 0, 0, 0.6);
  }
}

.mat-divider:first-child, .mat-divider:last-child {
  display: none; // do not show divider between elements if no elements above or below
}