<mat-card *ngIf="token"
          [ngClass]="{disabled: !token.enabled && token.enrollmentStatus === EnrollmentStatus.COMPLETED }">
  <mat-card-header>
    <mat-icon mat-card-avatar>{{token.typeDetails.icon}}</mat-icon>
    <mat-card-title>{{token.typeDetails.name | capitalize}}</mat-card-title>
    <mat-card-subtitle class="description">
      {{token.description}}
    </mat-card-subtitle>
    <div class="spacer"></div>
    <button mat-icon-button
            [matMenuTriggerFor]="menu"
            *ngxPermissionsOnly="token.enrollmentStatus === EnrollmentStatus.COMPLETED ? ModifyTokenPermissions : ModifyUnreadyTokenPermissions">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p i18n>Serial: {{ token.serial }}</p>
    <ng-template #unpairedTokenMessage>
      <p i18n>
        You need a QR code to proceed with the token activation in the LinOTP Authenticator app.
      </p>
      <p>
        <ng-container *ngxPermissionsExcept="token.typeDetails.enrollmentPermission"
                      i18n>
          You should have received detailed instructions for the activation,
          e.g. to wait for a letter with the QR code.
        </ng-container>
        <ng-container *ngxPermissionsOnly="token.typeDetails.enrollmentPermission">
          <ng-container *ngxPermissionsExcept="Permission.DELETE"
                        i18n>
            If you have created the token yourself and are not able to reuse the QR code,
            you have to restart with a new token.
          </ng-container>
          <ng-container *ngxPermissionsOnly="Permission.DELETE"
                        i18n>
            If you have created the token yourself and are not able to reuse the QR code,
            you have to delete this token and restart with a new token.
          </ng-container>
        </ng-container>
      </p>
    </ng-template>
    <ng-container [ngSwitch]="token.enrollmentStatus">
      <ng-container *ngSwitchCase="EnrollmentStatus.UNPAIRED">
        <ng-container *ngTemplateOutlet="unpairedTokenMessage"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="EnrollmentStatus.PAIRING_URL_SENT">
        <ng-container *ngTemplateOutlet="unpairedTokenMessage"></ng-container>
      </ng-container>
      <p *ngSwitchCase="EnrollmentStatus.PAIRING_RESPONSE_RECEIVED"
         i18n> This token is paired with your mobile. The next step is the
        activation: </p>
      <p *ngSwitchCase="EnrollmentStatus.PAIRING_CHALLENGE_SENT"
         i18n> An activation challenge has been generated. Please process it with
        your Authenticator app. </p>
    </ng-container>
  </mat-card-content>
  <mat-card-footer *ngIf="pendingActions()">
    <button mat-raised-button
            color="primary"
            (click)="activate()"
            *ngIf="pendingActivate()"
            i18n> Activate </button>
  </mat-card-footer>
</mat-card>

<mat-menu #menu="matMenu">
  <button mat-menu-item
          (click)="setPin()"
          *ngxPermissionsOnly="Permission.SETPIN">
    <mat-icon>security</mat-icon>
    <span i18n>Change PIN</span>
  </button>
  <ng-container *ngIf="isMOTP">
    <button mat-menu-item
            (click)="setMOTPPin()"
            *ngxPermissionsOnly="Permission.SETMOTPPIN">
      <mat-icon>dialpad</mat-icon>
      <span i18n>Change mOTP PIN</span>
    </button>
  </ng-container>
  <ng-container *ngIf="token.enrollmentStatus === EnrollmentStatus.COMPLETED && token.enabled">
    <button mat-menu-item
            (click)="testToken()"
            *ngxPermissionsOnly="Permission.VERIFY">
      <mat-icon>check_circle</mat-icon>
      <span>Test</span>
    </button>
  </ng-container>
  <button mat-menu-item
          (click)="setDescription()"
          *ngxPermissionsOnly="Permission.SETDESCRIPTION">
    <mat-icon>edit</mat-icon>
    <span i18n>Change description</span>
  </button>
  <button mat-menu-item
          (click)="resetFailcounter()"
          *ngxPermissionsOnly="Permission.RESET">
    <mat-icon>replay</mat-icon>
    <span i18n>Reset failcounter</span>
  </button>
  <ng-container *ngIf="isSynchronizeable">
    <button mat-menu-item
            (click)="resync()"
            *ngxPermissionsOnly="Permission.RESYNC">
      <mat-icon>sync_alt</mat-icon>
      <span i18n>Synchronize</span>
    </button>
  </ng-container>
  <mat-divider></mat-divider>
  <ng-container *ngIf="token.enrollmentStatus === EnrollmentStatus.COMPLETED">
    <ng-container *ngIf="!token.enabled">
      <div matTooltip="You do not have permissions to enable the token"
           [matTooltipDisabled]="canEnable"
           i18n-matTooltip>
        <button mat-menu-item
                [disabled]="!canEnable"
                (click)="canEnable && enable()">
          <mat-icon>check_box</mat-icon>
          <span i18n>Enable</span>
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="token.enabled">
      <ng-container *ngxPermissionsOnly="Permission.DISABLE">
        <button mat-menu-item
                (click)="disable()">
          <mat-icon>indeterminate_check_box</mat-icon>
          <span i18n>Disable</span>
        </button>
      </ng-container>
    </ng-container>
  </ng-container>
  <button mat-menu-item
          (click)="unassign()"
          *ngxPermissionsOnly="Permission.UNASSIGN">
    <mat-icon>link_off</mat-icon>
    <span i18n>Unassign</span>
  </button>
  <button mat-menu-item
          (click)="
          delete()"
          *ngxPermissionsOnly="Permission.DELETE">
    <mat-icon>delete</mat-icon>
    <span i18n>Delete</span>
  </button>
</mat-menu>
