@use "sass:map";
@use "@angular/material" as mat;

@mixin light-theme($theme) {
  app-token-card {
    mat-card.disabled {
      --mdc-elevated-card-container-color: hsla(0, 0%, 94%, 1);

      * {
        color: rgba(0, 0, 0, 0.6);
      }
    }

  }
}

@mixin dark-theme($theme) {
  app-token-card {
    mat-card.disabled {
      --mdc-elevated-card-container-color: hsla(0, 0%, 20%, 1);

      * {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}