<mat-card *ngIf="token"
          [ngClass]="{disabled: !token.enabled && token.enrollmentStatus === EnrollmentStatus.COMPLETED }">
  <mat-card-header>
    <mat-icon mat-card-avatar>{{token.typeDetails.icon}}</mat-icon>
    <mat-card-title>{{token.typeDetails.name | capitalize}}</mat-card-title>
    <mat-card-subtitle class="description">
      {{token.description}}
    </mat-card-subtitle>
    <div class="spacer"></div>
    <button mat-icon-button
            [matMenuTriggerFor]="menu"
            *ngxPermissionsOnly="ModifyTokenPermissions">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p>Serial: {{ token.serial }}</p>
    <ng-container [ngSwitch]="token.enrollmentStatus">
      <p *ngSwitchCase="EnrollmentStatus.UNPAIRED">
        <ng-container *ngIf="isPush(); else otherTokenTypes">
          There was a problem with this token and it cannot be used. Make
          sure to delete it and reset your Authenticator app before enrolling
          a new push token.
        </ng-container>
        <ng-template #otherTokenTypes>
          This token needs to be paired with your mobile. You need the
          enrollment QR code to proceed in the authenticator mobile
          application. Afterwards you can start the activation here.
        </ng-template>
      </p>
      <p *ngSwitchCase="EnrollmentStatus.PAIRING_RESPONSE_RECEIVED">
        This token is paired with your mobile. The next step is the
        activation:
      </p>
      <p *ngSwitchCase="EnrollmentStatus.PAIRING_CHALLENGE_SENT">
        An activation challenge has been generated. Please process it with
        your authenticator
      </p>
    </ng-container>
  </mat-card-content>
  <mat-card-footer *ngIf="pendingActions()">
    <button mat-raised-button
            color="primary"
            (click)="delete()"
            *ngIf="pendingDelete()">
      Delete
    </button>
    <button mat-raised-button
            color="primary"
            (click)="activate()"
            *ngIf="pendingActivate()">
      Activate
    </button>
  </mat-card-footer>
</mat-card>

<mat-menu #menu="matMenu">
  <button mat-menu-item
          (click)="setPin()"
          *ngxPermissionsOnly="Permission.SETPIN">
    <mat-icon>security</mat-icon>
    <span>set pin</span>
  </button>
  <!-- <button mat-menu-item
          (click)="testToken()"
          *ngIf="token.enrollmentStatus === EnrollmentStatus.COMPLETED && token.enabled">
    <mat-icon>check_circle</mat-icon>
    <span>test</span>
  </button> -->
  <button mat-menu-item
          (click)="resetFailcounter()"
          *ngxPermissionsOnly="Permission.RESET">
    <mat-icon>replay</mat-icon>
    <span>reset failcounter</span>
  </button>
  <mat-divider></mat-divider>
  <ng-container *ngIf="token.enrollmentStatus === EnrollmentStatus.COMPLETED">
    <ng-container *ngIf="!token.enabled">
      <ng-container *ngxPermissionsOnly="Permission.ENABLE; then enableBlock; else noEnableBlock">
      </ng-container>
    </ng-container>
    <ng-container *ngIf="token.enabled">
      <ng-container *ngxPermissionsOnly="Permission.DISABLE; then disableBlock; else noDisableBlock">
      </ng-container>
    </ng-container>
  </ng-container>
  <button mat-menu-item
          (click)="delete()"
          *ngxPermissionsOnly="Permission.DELETE">
    <mat-icon>delete</mat-icon>
    <span>delete</span>
  </button>
</mat-menu>

<ng-template #enableBlock>
  <button mat-menu-item
          (click)="enable()">
    <mat-icon>check_box</mat-icon>
    <span>enable</span>
  </button>
</ng-template>

<ng-template #noEnableBlock>
  <button mat-menu-item
          disabled
          matTooltip="You do not have permissions to enable the token">
    <mat-icon>check_box</mat-icon>
    <span>enable</span>
  </button>
</ng-template>

<ng-template #disableBlock>
  <button mat-menu-item
          (click)="disable()">
    <mat-icon>indeterminate_check_box</mat-icon>
    <span>disable</span>
  </button>
</ng-template>

<ng-template #noDisableBlock>
  <button mat-menu-item
          disabled
          matTooltip="You do not have permissions to disable this token.">
    <mat-icon>indeterminate_check_box</mat-icon>
    <span>disable</span>
  </button>
</ng-template>
