Source: linotp-selfservice
Section: net
Priority: optional
Maintainer: KeyIdentity GmbH <packaging@keyidentity.com>
Build-Depends: apache2-dev, debhelper (>= 9), nodejs (>= 9), yarn
Standards-Version: 4.1.2
Homepage: http://linotp.org

Package: linotp-selfservice
Architecture: all
Depends: ${misc:Depends}
Recommends: apache2, ${misc:Recommends}
Suggests: linotp
Description: Frontend interface for LinOTP (next generation)
 This package provides the new generation LinOTP selfservice frontend.
 .
 It allows users to perform operations including enrolling new tokens and
 managing their own tokens.
 .
 The package provides a webinterface which is accessible under the URL
 https://<linotp-server>/selfservice. It also provides a
 Apache site configuration for standalone operation.
