#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@ --with apache2  --noenable

override_dh_auto_configure:
	# Install dependencies. This needs a working internet
	# connection.
	yarn install --frozen-lockfile

override_dh_auto_build:
	ng build --configuration=production-en --base-href=/selfservice-v2/ --deploy-url=/selfservice-v2/
