@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;

  &>:not(mat-toolbar) {
    width: 100%;
    max-width: 850px;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
  }

  main:has(app-history){
    max-width: 1250px;
  }
}



mat-toolbar {
  padding: 8px 12px;
  box-shadow: none;
  --mat-toolbar-standard-height: 56px;
  @include mat.toolbar-overrides((
    container-background-color: transparent,
  ));
  #title {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    #logo {
      height: 36px;
    }

    #app-name {
      margin-left: 16px;
    }
  }

  .user-info {
    line-height: 1.3;
    display: flex;

    &>* {
      margin: 2px 16px;
    }

    &>*:not(:last-child) {
      margin: auto;
      margin-left: 7px;
    }

    mat-icon {
      padding: 8px;
      border-radius: 50%;
    }

    .name {
      font-size: 15px;
    }

    .realm {
      font-size: 14px;
      opacity: 0.92;
    }
  }

}

.user-menu-header {
  pointer-events: none;
  opacity: 1 !important;

  .name {
    font-size: 15px;
    font-weight: 500;
  }

  .realm {
    font-size: 14px;
    opacity: 0.85;
    margin-top: 4px;
  }
}

main {
  flex: 1;
}

mat-divider {
  margin-top: 1em;
  margin-bottom: .5em;
}

footer {
  display: flex;
  align-items: center;
  padding-bottom: .5em;

  .footerText {
    margin-right: 16px;
  }
}

app-theme-picker {
  margin-right: 12px;
}