@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  @include mat.toolbar-overrides((container-background-color:var(--mat-sys-primary-container)));

  &>:not(mat-toolbar) {
    width: 100%;
    max-width: 850px;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
  }
}



mat-toolbar {
  position: relative;
  padding: 8px 12px;
  min-width: 100%;
  width: initial;
  @include mat.elevation(1);

  #title {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    #logo {
      height: 100%;
    }

    #app-name {
      margin-left: 16px;
    }
  }

  nav {
    flex: 1;
    align-content: flex-start;
  }

  .user-info {
    line-height: 1.4;
    display: flex;

    &>* {
      margin: 5px 16px;
    }

    &>*:not(:last-child) {
      margin-right: 0;
    }

    mat-icon {
      padding: 8px;
      border-radius: 50%;
    }

    .name {
      font-size: 15px;
    }

    .realm {
      font-size: 14px;
      opacity: 0.9;
    }
  }

}

.user-menu-header {
  pointer-events: none;
  opacity: 1 !important;

  .name {
    font-size: 15px;
    font-weight: 500;
  }

  .realm {
    font-size: 14px;
    opacity: 0.85;
    margin-top: 4px;
  }
}

main {
  flex: 1;
}

mat-divider {
  margin-top: 1em;
  margin-bottom: .5em;
}

footer {
  display: flex;
  align-items: center;
  padding-bottom: .5em;

  .footerText {
    margin-right: 16px;
  }
}

.logout {
  text-transform: none;
}

app-theme-picker {
  margin-right: 12px;
}

nav {
  border-left: 2px var(--mat-toolbar-container-text-color) solid;
}