<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="mat-primary toolbar">
  <div id="title">
    <img id="logo"
         [src]="themeService.theme.linotpLogo"
         alt="Company Logo"
         i18n-alt>
    <h1 id="app-name">{{ title }}</h1>
  </div>
  <nav *ngIf="userData">
    <ng-container *ngFor="let link of navLinks">
      <a mat-button
         *ngxPermissionsOnly="link.permission"
         routerLinkActive="active-link"
         [routerLink]="link.path">{{ link.label }}</a>
    </ng-container>
  </nav>
  <div class="user-info"
       *ngIf="userData">
    <mat-icon [matTooltip]="userData.username">person</mat-icon>
    <div>
      <div class="name">
        {{ userData.givenname || userData.surname
        ? ((userData.givenname || '') + ' ' + (userData.surname || ''))
        : userData.username
        }}
      </div>
      <div class="realm">{{userData.realm}}</div>
    </div>
    <button mat-button
            (click)="logout()"
            i18n
            class="logout">Logout</button>
  </div>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>

<mat-divider></mat-divider>

<footer>
  <span class="footerText">{{footerText || copyright}}</span>
  <ng-container *ngIf="imprintUrl">
    ·
    <a [href]="imprintUrl"
       target="_blank"
       rel="noopener noreferrer"
       mat-button
       i18n>Site notice</a>
  </ng-container>
  <ng-container *ngIf="privacyNoticeUrl">
    ·
    <a [href]="privacyNoticeUrl"
       target="_blank"
       rel="noopener noreferrer"
       mat-button
       i18n>Privacy policy</a>
  </ng-container>
  <span class="spacer"></span>
  <app-theme-picker></app-theme-picker>
  <app-language-picker></app-language-picker>
</footer>