@import '~@angular/material/theming';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 100vh;
  background: whitesmoke;

  & > :not(mat-toolbar) {
    width: 100%;
    max-width: 800px;
    margin-left: 1em;
    margin-right: 1em;
  }
}

mat-toolbar {
  position: relative;
  padding: 8px 12px;
  margin-bottom: 1em;
  @include mat-elevation(1);

  #title {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    #logo {
      height: 100%;
    }

    #app-name{
      margin-left: 16px;
    }
  }

  &>* {
    margin: 0 12px;
  }

  nav {
    flex: 1;
    align-content: flex-start;
  }
}

main {
  flex: 1;
}

mat-divider {
  margin-top: 1em;
  margin-bottom: .5em;
}

.footerText {
  margin-right: 16px;
}