@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $color-config: mat.m2-get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');

  app-root {
    mat-toolbar .user-info {
      mat-icon {
        background: mat.m2-get-color-from-palette($primary-palette,
            '500-contrast'
          );
        color: mat.m2-get-color-from-palette($primary-palette, 500);
      }
    }
  }
}