<button mat-button
        [matMenuTriggerFor]="languageSelector"
        [attr.aria-label]="'Change language. Current language: ' + selectedLocale?.name"
        i18n-aria-label>
  <mat-icon class="language-icon">language</mat-icon>
  <span class="icon-container">
    <span>
      {{ selectedLocale?.shortName }}
    </span>
    <mat-icon>arrow_drop_down</mat-icon>
  </span>
</button>

<mat-menu #languageSelector="matMenu"
          yPosition="below">
  <a mat-menu-item
     *ngFor="let locale of locales"
     [href]="'../'+locale.id">{{locale.name}} ({{locale.shortName}})</a>
</mat-menu>