$language-icon-size: 20px;

.language-icon {
  margin-right: 6px;
  width: $language-icon-size;
  height: $language-icon-size;
  font-size: $language-icon-size;
}

.icon-container {
  display: flex;
  align-items: center;
}