
<app-token-dialog-header [token]="token">
  <h2 mat-dialog-title
  i18n>Test {{ typeDetails.name }} {{ data.serial }}</h2>
</app-token-dialog-header>

<form [formGroup]="formGroup"
      (ngSubmit)="submit()"
      #formDirective="ngForm">


  <mat-dialog-content>
    <ng-container [ngSwitch]="state">

      <ng-container *ngSwitchCase="TestState.LOADING">
        <mat-spinner></mat-spinner>
      </ng-container>

      <ng-container *ngSwitchCase="TestState.UNTESTED">

        <div class="instruction"
             *ngIf="!hasOnlineMode">
          <ng-container *ngIf="typeDetails.type === TokenType.PASSWORD; else otpInputMessage"
                        i18n>
            Please enter the password of the selected token:
          </ng-container>
          <ng-template #otpInputMessage
                       i18n>
            Please enter the next OTP for the selected token:
          </ng-template>
        </div>

        <ng-container *ngIf="qrCodeData">
          <div class="instruction center-text"
               i18n>
            Scan the QR code with your LinOTP Authenticator app:
          </div>

          <div class="dialog-input">
            <app-qr-code [qrUrl]="qrCodeData"></app-qr-code>
          </div>
        </ng-container>

        <ng-container *ngIf="!hasOfflineMode">
          <mat-spinner class="polling"></mat-spinner>
          <div class="instruction center-text"
               i18n>
            Waiting for confirmation of transaction
            <b><code>{{ shortTransactionId }}</code></b> via your LinOTP Authenticator app.
          </div>
        </ng-container>

        <div class="otpInput">
          <button mat-button
                  (click)="showInput()"
                  *ngIf="hasOnlineMode && hasOfflineMode && !showInputField"
                  i18n>Manually enter OTP</button>
        </div>

        <div [ngClass]="{'center-content': hasOnlineMode && hasOfflineMode}">
          <mat-form-field *ngIf="!hasOnlineMode || showInputField">
            <mat-label *ngIf="typeDetails.type === TokenType.PASSWORD"
                       i18n>Password</mat-label>
            <mat-label *ngIf="typeDetails.type !== TokenType.PASSWORD"
                       i18n>OTP value</mat-label>
            <input matInput
                   *ngIf="typeDetails.type === TokenType.PASSWORD"
                   type="password"
                   formControlName="otp"
                   name="otp"
                   autocomplete="current-password"
                   appFocusOnInit>
            <input matInput
                   *ngIf="typeDetails.type !== TokenType.PASSWORD"
                   type="text"
                   formControlName="otp"
                   name="otp"
                   autocomplete="one-time-code"
                   appFocusOnInit>
            <mat-error *ngIf="typeDetails.type === TokenType.PASSWORD"
                       i18n>The password field cannot be empty</mat-error>
            <mat-error *ngIf="typeDetails.type !== TokenType.PASSWORD"
                       i18n>The OTP field cannot be empty</mat-error>
          </mat-form-field>
        </div>

      </ng-container>

      <ng-container *ngSwitchCase="TestState.SUCCESS">
        <p i18n
           *ngIf="challResult && challResult.accept === true">
          You have accepted the transaction.
        </p>
        <p i18n
           *ngIf="challResult && challResult.reject === true">
          You have rejected the transaction.
        </p>
        <div i18n>Test successful. You may use your token for authentication.</div>
      </ng-container>

      <ng-container *ngSwitchCase="TestState.FAILURE">
        {{ errorMessage }}
      </ng-container>

    </ng-container>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button
            type="button"
            mat-dialog-close
            *ngIf="state !== TestState.SUCCESS"
            i18n>cancel</button>
    <button mat-raised-button
            type="button"
            color="primary"
            type="reset"
            (click)="reset()"
            *ngIf="state === TestState.FAILURE"
            appFocusOnInit
            i18n>restart test</button>
    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="preventSubmit()"
            *ngIf="state === TestState.UNTESTED && hasOfflineMode">
            <div class="button-content">
              <app-button-wait-indicator [show]="awaitingResponse"></app-button-wait-indicator>
              <span i18n>submit</span>
            </div>
    </button>
    <button mat-raised-button
            type="button"
            color="primary"
            mat-dialog-close
            *ngIf="state === TestState.SUCCESS"
            appFocusOnInit
            i18n>done</button>
  </mat-dialog-actions>

</form>