.mat-dialog-actions {
  justify-content: flex-end;

  button {
    text-transform: uppercase;
  }
}

mat-form-field {
  display: block;
}

mat-spinner {
  margin: 100px auto;
}

.dialog-input {
  margin: 1em 0;
}

.otpInput {
  display: flex;
  justify-content: center;
}
