<app-token-dialog-header [token]="token">
  <h2 mat-dialog-title
      i18n>Test {{ typeDetails.name }}</h2>
</app-token-dialog-header>

<form [formGroup]="formGroup"
      (ngSubmit)="submit()"
      #formDirective="ngForm">


  <mat-dialog-content>
    <ng-container [ngSwitch]="state">

      <ng-container *ngSwitchCase="TestState.LOADING">
        <mat-spinner></mat-spinner>
      </ng-container>

      <ng-container *ngSwitchCase="TestState.UNTESTED">

        <div class="instruction"
             *ngIf="!hasOnlineMode">
          <ng-container *ngIf="typeDetails.type === TokenType.PASSWORD || TargetToken?.type === TokenType.PASSWORD ; else otpInputMessage"
                        i18n>
            Please enter the password of the selected token:
          </ng-container>
          <ng-template #otpInputMessage
                       i18n>
            Please enter the next OTP for the selected token:
          </ng-template>
        </div>

        <app-qr-code-input *ngIf="token?.tokenType === TokenType.QR || token?.tokenType === TokenType.PUSH"
                           [transactionDetail]="transactionDetail"
                           (otpValueChanged)="offlineOtpValue = $event"></app-qr-code-input>

        <div [ngClass]="{'center-content': hasOnlineMode && hasOfflineMode}">
          <ng-container *ngIf="!hasOnlineMode || showInputField">
            <ng-container
                          *ngIf="typeDetails.type === TokenType.PASSWORD || TargetToken?.type === TokenType.PASSWORD ; else otpInputField">
              <mat-form-field>
                <mat-label i18n>Password</mat-label>
                <input matInput
                       type="password"
                       formControlName="otp"
                       name="otp"
                       autocomplete="current-password"
                       [attr.aria-invalid]="formGroup.get('otp')?.invalid && formGroup.get('otp')?.touched"
                       appFocusOnInit>
                <mat-error i18n>The password field cannot be empty</mat-error>
              </mat-form-field>
            </ng-container>

            <ng-template #otpInputField>
              <mat-form-field>
                <mat-label i18n>OTP value</mat-label>
                <input matInput
                       type="text"
                       formControlName="otp"
                       name="otp"
                       autocomplete="one-time-code"
                       [attr.aria-invalid]="formGroup.get('otp')?.invalid && formGroup.get('otp')?.touched"
                       appFocusOnInit>
                <mat-error i18n="@@otpRequiredInfo">The OTP field cannot be empty</mat-error>
              </mat-form-field>
            </ng-template>
          </ng-container>
        </div>

      </ng-container>

      <ng-container *ngSwitchCase="TestState.SUCCESS">
        <p i18n
           *ngIf="challResult && challResult.accept === true">
          You have accepted the transaction.
        </p>
        <p i18n
           *ngIf="challResult && challResult.reject === true">
          You have rejected the transaction.
        </p>
        <div i18n>Test successful. You may use your token for authentication.</div>
      </ng-container>

      <ng-container *ngSwitchCase="TestState.FAILURE">
        {{ errorMessage }}
      </ng-container>

    </ng-container>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button
            type="button"
            mat-dialog-close
            *ngIf="state !== TestState.SUCCESS"
            i18n>cancel</button>
    <button mat-flat-button
            type="button"
            color="primary"
            type="reset"
            (click)="reset()"
            *ngIf="state === TestState.FAILURE"
            appFocusOnInit
            i18n>restart test</button>
    <button mat-flat-button
            color="primary"
            type="submit"
            [disabled]="preventSubmit()"
            *ngIf="state === TestState.UNTESTED && hasOfflineMode">
      <div class="button-content">
        <app-button-wait-indicator [show]="awaitingResponse"></app-button-wait-indicator>
        <span i18n>submit</span>
      </div>
    </button>
    <button mat-flat-button
            type="button"
            color="primary"
            [mat-dialog-close]="true"
            *ngIf="state === TestState.SUCCESS"
            appFocusOnInit
            i18n>done</button>
  </mat-dialog-actions>

</form>