.mat-dialog-actions {
  justify-content: flex-end;

  button {
    text-transform: uppercase;
  }
}

mat-form-field {
  display: block;
}

mat-spinner {
  margin: 100px auto;
}

.dialog-input {
  margin: 20px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.instruction {
  margin: 2em 0;
}

.otpInput {
  display: flex;
  justify-content: center;
}
