<h2>{{ isActivation? "Activate" : "Test" }} {{ data.token.typeDetails.name }}
  {{ data.token.serial }}</h2>
<mat-horizontal-stepper [linear]="true"
                        linear
                        #stepper>
  <mat-step>
    <p>In the next step your Authenticator app will
      {{ isActivation?
      "be verified by the authentication server." :
      "receive a test challenge."
      }}
    </p>
    <p *ngIf="!isActivation">Please confirm the challenge on the app.</p>
    <mat-dialog-actions align="end">
      <div>{{ isActivation? "Activation" : "Test" }} {{currentStep}} of
        {{maxSteps}}</div>
      <span class="spacer"></span>
      <button mat-raised-button
              (click)="cancelDialog()">Cancel</button>
      <button mat-raised-button
              color="primary"
              id="goTo2"
              (click)="activateToken(stepper)">Next</button>
    </mat-dialog-actions>
  </mat-step>
  <mat-step>
    <ng-container *ngIf="waitingForResponse; then spinningBlock else challengeResponseBlock"></ng-container>

    <ng-template #spinningBlock>
      <section class="response">
        <mat-spinner></mat-spinner>
        <p>Waiting for confirmation for {{isActivation? "test" : ""}}
          transaction {{!isActivation? transactionId : "" }} via KeyIdentity
          Authenticator.</p>
      </section>
      <mat-dialog-actions align="end">
        <div>{{ isActivation? "Activation" : "Test" }} {{currentStep}} of
          {{maxSteps}}</div>
        <span class="spacer"></span>
        <button mat-raised-button
                (click)="cancelDialog()">Cancel</button>
      </mat-dialog-actions>
    </ng-template>
    <ng-template #challengeResponseBlock>
      <section class="response">
        <p *ngIf="restartDialog">{{ isActivation? "Activation" : "Test" }}
          failed. Please try again, or contact an administrator.</p>
        <p *ngIf="!restartDialog">{{ isActivation? "Activation" : "Test" }}
          successful. Your token is ready to be used.</p>
      </section>
      <mat-dialog-actions align="end">
        <div>{{ isActivation? "Activation" : "Test" }} {{currentStep}} of
          {{maxSteps}}</div>
        <span class="spacer"></span>
        <button mat-raised-button
                (click)="cancelDialog()"
                *ngIf="restartDialog">Cancel</button>
        <button mat-raised-button
                (click)="resetDialogToInitial(stepper)"
                *ngIf="restartDialog">Restart activation</button>
        <button mat-raised-button
                color="primary"
                (click)="closeDialog()"
                *ngIf="!restartDialog">Finish</button>
      </mat-dialog-actions>
    </ng-template>

  </mat-step>
</mat-horizontal-stepper>