mat-form-field {
  width: 100%;
}

.formSectionIntro {
  margin-top: 1em;
}

mat-card {
  margin-bottom: 11px;
}

.single-row-form {
  display: flex;
  justify-content: space-between;

  mat-form-field:first-child {
    margin-right: 15px;
  }
}

mat-card-subtitle {
  margin-bottom: 10px;
}

.pin-card {
  margin-top: 5px;
}