.stepperControls {
  display: flex;
  justify-content: flex-end;

  &>* {
    margin: 10px;
  }
}

mat-form-field {
  width: 100%
}

.warning {
  color: red;
}

.hint {
  font-size: 75%;
}


.formSectionIntro {
  margin-top: 2em;
}
