<h2 mat-dialog-title
    i18n>Add {{this.tokenDisplayData.name}}</h2>

<mat-horizontal-stepper [linear]="true"
                        linear>

  <mat-step [stepControl]="enrollmentStep"
            id="setPassword">
    <form [formGroup]="enrollmentStep"
          (submit)="enrollToken()">

      <mat-dialog-content>

        <p i18n>Create a password token to be able to authenticate with a static secret.</p>
        <p class="formSectionIntro"
           i18n>Please enter a password:</p>
        <mat-form-field>
          <input matInput
                 i18n-placeholder
                 placeholder="Password"
                 formControlName="password"
                 type="password"
                 appFocusOnInit>
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 i18n-placeholder
                 placeholder="Confirm your password"
                 formControlName="confirmation"
                 type="password"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="enrollmentStep.hasError('passwordsDoNotMatch')"
                     i18n>Entered passwords do not match</mat-error>
        </mat-form-field>

        <p class="formSectionIntro"
           i18n>You may set a token description, which should help you identify your token:</p>
        <mat-form-field>
          <input matInput
                 i18n-placeholder
                 placeholder="Token description"
                 formControlName="description">
          <mat-hint i18n>Enter a description for your token.</mat-hint>
        </mat-form-field>

      </mat-dialog-content>

      <mat-dialog-actions align="end">
        <div i18n>Step 1 of 2</div>
        <span class="spacer"></span>
        <button mat-button
                type="button"
                (click)="close()"
                i18n>Cancel</button>
        <button mat-button
                color="primary"
                type="submit"
                id="goTo2"
                [disabled]="enrollmentStep.invalid || enrollmentStep.disabled">
          <app-button-wait-indicator [show]="enrollmentStep.disabled"></app-button-wait-indicator>
          <ng-container i18n>Next</ng-container>
        </button>
      </mat-dialog-actions>
    </form>
  </mat-step>

  <mat-step active="false"
            id="end">
    <mat-dialog-content>
      <p *ngIf="enrolledToken"
         i18n>A token with the serial number {{ enrolledToken.serial }} has been created.</p>

      <ng-container *ngxPermissionsOnly="Permission.SETPIN">
        <p i18n>You may set a PIN now to protect your token against misuse, as it ensures only you can use your token.
          This step is optional, and you can still do it later over the token menu.</p> <button mat-button
                color="primary"
                (click)="setPin()"
                i18n>Set pin</button>
      </ng-container>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <div i18n>Step 2 of 2</div>
      <span class="spacer"></span>
      <button mat-button
              color="primary"
              (click)="finalizeEnrollment()"> {{ closeLabel }}</button>
    </mat-dialog-actions>
  </mat-step>

</mat-horizontal-stepper>