<h2 mat-dialog-title i18n>Add {{ this.tokenDisplayData.name }}</h2>
<mat-horizontal-stepper [linear]="true">
  <mat-step [completed]="false" [editable]="false">
    <mat-dialog-content>
      <ng-template matStepLabel i18n>Create token</ng-template>
      <p i18n>Create a password token to be able to authenticate with a static secret.</p>
      <form [formGroup]="createTokenForm" (keydown.enter)="enrollPWToken()">
        <div class="single-row-form">
          <mat-form-field>
            <mat-label i18n>Password</mat-label>
            <input matInput
                   formControlName="password"
                   type="password"
                   appFocusOnInit>
            <mat-error i18n *ngIf="createTokenForm.get('password').hasError('required')">
              This field is required.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label i18n>Confirm your password</mat-label>
            <input matInput
                   formControlName="confirmation"
                   type="password"
                   [errorStateMatcher]="matcher">
            <mat-error *ngIf="createTokenForm.get('confirmation').hasError('required')"
                       i18n>This field is required.
            </mat-error>
            <mat-error
              *ngIf="createTokenForm.hasError('passwordsDoNotMatch') && !createTokenForm.get('confirmation').hasError('required')"
              i18n="@@passwordsDoNotMatchError">Entered passwords do not match
            </mat-error>
          </mat-form-field>
        </div>
        <app-create-token-step [form]="createTokenForm"></app-create-token-step>
      </form>
    </mat-dialog-content>
  </mat-step>
  <ng-template #createTokenStepActions>
    <app-step-actions
      [awaitingResponse]="awaitingResponse"
      [disableSubmit]="createTokenForm.invalid"
      (cancelled)="close()"
      (submitted)="enrollPWToken()"
    >
    </app-step-actions>
  </ng-template>

  <mat-step>
    <ng-template matStepLabel i18n>Done</ng-template>
    <mat-dialog-content>
      <app-done-step [token]="enrolledToken"></app-done-step>
    </mat-dialog-content>
    <ng-template #doneStepActions>
      <button
        appFocusOnInit
        focusDelay="500"
        mat-raised-button
        color="primary"
        type="button"
        (click)="close()"
        i18n
      >
        Close
      </button>
    </ng-template>
  </mat-step>
</mat-horizontal-stepper>

<mat-dialog-actions align="end">
  <ng-container
    *ngTemplateOutlet="
      [
        createTokenStepActions,
        doneStepActions
      ][stepper.selectedIndex]
    "
  >
  </ng-container>
</mat-dialog-actions>
