<h2 i18n>Add {{data.tokenTypeDetails.name}}</h2>

<mat-horizontal-stepper [linear]="true"
                        linear>

  <mat-step [stepControl]="enrollmentStep"
            id="setPassword">
    <p i18n>Create a password token to be able to authenticate with a static secret.</p>
    <form [formGroup]="enrollmentStep"
          (submit)="enrollToken()">
      <p class="formSectionIntro"
         i18n>Please enter a password:</p>
      <mat-form-field>
        <input matInput
               i18n-placeholder
               placeholder="Password"
               formControlName="password"
               type="password"
               appFocusOnInit>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               i18n-placeholder
               placeholder="Confirm your password"
               formControlName="confirmation"
               type="password"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="enrollmentStep.hasError('passwordsDoNotMatch')"
                   i18n>Entered passwords do not match</mat-error>
      </mat-form-field>

      <p class="formSectionIntro"
         i18n>You may set a token description, which should help you identify your token:</p>
      <mat-form-field>
        <input matInput
               i18n-placeholder
               placeholder="Token description"
               formControlName="description">
        <mat-hint i18n>Enter a description for your token.</mat-hint>
      </mat-form-field>

      <mat-dialog-actions align="end">
        <span class="spacer"></span>
        <button mat-raised-button
                type="button"
                (click)="cancelDialog()"
                i18n>Cancel</button>
        <button mat-raised-button
                color="primary"
                type="submit"
                id="goTo2"
                [disabled]="enrollmentStep.invalid || enrollmentStep.disabled">
          <app-button-wait-indicator [show]="enrollmentStep.disabled"></app-button-wait-indicator>
          <ng-container i18n>Next</ng-container>
        </button>
      </mat-dialog-actions>
    </form>
  </mat-step>

  <mat-step active="false"
            id="end">
    <p i18n>A token with the serial number {{ serial }} has been created.</p>

    <mat-dialog-actions align="end">
      <span class="spacer"></span>
      <button mat-raised-button
              color="primary"
              (click)="closeDialog()"> {{ data.closeLabel }}</button>
    </mat-dialog-actions>
  </mat-step>

</mat-horizontal-stepper>
