.stepperControls {
  display: flex;
  justify-content: flex-end;
  &>* {
    margin: 10px;
  }
}

mat-form-field {
  width: 100%
}

.testOTP {
  width: 100%;
  mat-form-field {
    width: 10em;
  }
  button {
    margin-left: 1em;
  }
}

.spacer {
  flex: 1 1 auto;
}

qrcode {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
