<h2 i18n>Enroll Push token</h2>
<mat-horizontal-stepper [linear]="true"
                        linear
                        #stepper>

  <mat-step [stepControl]="enrollmentStep"
            id="stepDescription">
    <p i18n>You need the Authenticator app installed on your mobile device to
      use this kind of token. You can get the app
      here:</p>
    <ul>
      <li><a href="TextResources.AUTHENTICATOR_GOOGLE_PLAY_STORE_URL">Google
          Play Store</a></li>
      <li><a href="TextResources.AUTHENTICATOR_APPLE_APP_STORE_URL">Apple App
          Store</a></li>
    </ul>
    <p i18n>Once you have the Authenticator installed on your device, you can set a description for your new token
      and start the enrollment process: </p>
    <form [formGroup]="enrollmentForm">
      <mat-form-field>
        <input matInput
               placeholder="Token description"
               formControlName="description"
               autofocus>
        <mat-error i18n>The token description is required. </mat-error>
        <mat-hint i18n>The token description should help you identify the token at a later point. It could, for example,
          refer to its usage scenario.</mat-hint>
      </mat-form-field>
    </form>
    <mat-dialog-actions align="end">
      <div i18n>Enrollment step {{currentStep}} of {{maxSteps}}</div>
      <span class="spacer"></span>
      <button mat-raised-button
              (click)="close()"
              i18n>Cancel</button>
      <button mat-raised-button
              color="primary"
              (click)="goToTokenInfo(stepper)"
              id="goTo2"
              [disabled]="enrollmentForm.invalid"
              i18n>Next</button>
    </mat-dialog-actions>
  </mat-step>

  <mat-step>
    <div *ngIf="enrolledToken">
      <p i18n>A token with the serial number {{enrolledToken.serial}} (description:
        {{ enrollmentForm.get('description').value }}) has been enrolled.</p>
      <p i18n>Scan the QR code below with the Authenticator app or <a target="_blank"
           [href]="enrolledToken.url">follow this link</a> to start the
        activation process of the new token.</p>
      <qrcode [qrdata]="enrolledToken.url"
              [size]="256"
              [level]="'L'"></qrcode>
    </div>
    <mat-dialog-actions align="end">
      <div i18n>Enrollment step {{currentStep}} of {{maxSteps}}</div>
      <span class="spacer"></span>
      <button mat-raised-button
              (click)="cancel()"
              i18n>Cancel</button>
    </mat-dialog-actions>
  </mat-step>

  <mat-step>
    <p i18n>Your token has been successfully paired. In order to use it, you must activate it first.</p>
    <mat-dialog-actions align="end">
      <div i18n>Enrollment step {{currentStep}} of {{maxSteps}}</div>
      <span class="spacer"></span>
      <button mat-raised-button
              (click)="close()"
              i18n>Close</button>
      <button mat-raised-button
              color="primary"
              (click)="closeAndReturnSerial()"
              i18n>Activate Token</button>
    </mat-dialog-actions>
  </mat-step>
</mat-horizontal-stepper>
