// Component uses ViewEncapsulation.None !
app-token-dialog-header {
    .mat-mdc-dialog-title {
        margin-bottom: 0px;
    }
    .wrapper {
        margin-bottom: 16px;
        padding: 0 24px;
    }

}

