mat-form-field {
  width: 100%
}

.testOTP {
  width: 100%;

  mat-form-field {
    width: 10em;
  }

  button {
    margin-left: 1em;
  }
}

qrcode {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.noactivate {
  margin-top: 1em;
}

.activation-failed-text {
  color: #f44336;
  font-weight: 500;
  margin-bottom: 1em;
}

.response {
  margin-top: 1em;

  mat-spinner {
    margin: 1em auto;
    display: block;
  }
}