<h2 mat-dialog-title i18n>Add {{ this.tokenDisplayData.name }}</h2>
<mat-horizontal-stepper [linear]="true">
  <mat-step [completed]="true" [editable]="false">
    <mat-dialog-content>
      <ng-template matStepLabel i18n>Install app</ng-template>
      <div i18n="@@pushQRStepperIntroduction">
        <p>
          This step-by-step guide will help you to create a new token and import
          it onto your device.
        </p>
        <p>
          To import the token you must use the <b>LinOTP Authenticator</b>:
        </p>
      </div>
      <app-authenticator-links [platform]="platformProvider.platform"></app-authenticator-links>
      <p i18n="@@oathStepperAppInstalledConfirmInfo">
        Once you have the app installed on your device, you can start the token
        setup process.
      </p>
    </mat-dialog-content>
    <ng-template #installAppStepActions>
      <app-step-actions [awaitingResponse]="awaitingResponse"
                        [disableSubmit]="createTokenForm.invalid"
                        (cancelled)="close()"
                        (submitted)="stepper.next()">
      </app-step-actions>
    </ng-template>
  </mat-step>

  <mat-step [completed]="false" [editable]="false">
    <ng-template matStepLabel i18n>Create token</ng-template>
    <ng-template matStepContent>
      <mat-dialog-content>
        <app-create-token-step [form]="createTokenForm"
                               (keydown.enter)="enrollPushQRToken()"
                               setAutoFokus="true"></app-create-token-step>
      </mat-dialog-content>
    </ng-template>
    <ng-template #createTokenStepActions>
      <app-step-actions [awaitingResponse]="awaitingResponse"
                        [disableSubmit]="createTokenForm.invalid || awaitingResponse"
                        (cancelled)="close()"
                        (submitted)="enrollPushQRToken()">
      </app-step-actions>
    </ng-template>
  </mat-step>

  <mat-step [completed]="false" [editable]="false">
    <ng-template matStepLabel i18n="@@QRStepTitle">Scan QR Code</ng-template>
    <mat-dialog-content>
      <div *ngIf="enrolledToken">
        <p i18n>
          A token with the serial number {{ enrolledToken.serial }} has been created.
        </p>
        <p i18n>
          Scan the QR code below with the Authenticator app
          to start the activation process of the new token.
        </p>
        <app-qr-code [qrUrl]="enrolledToken.url"></app-qr-code>
      </div>
    </mat-dialog-content>

    <!--switch to next step will only happen as soon as pairing was successful-->
    <ng-template #scanQRActions>
      <app-step-actions [disableSubmit]="true"
                        (cancelled)="cancel()"
      ></app-step-actions>
    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel i18n>Done</ng-template>
    <ng-template matStepContent>
      <app-done-step [token]="enrolledToken"></app-done-step>
    </ng-template>

    <ng-template #doneStepActions>
      <button mat-button
              appFocusOnInit
              (click)="close()"
              i18n>Close
      </button>
      <button mat-raised-button
              appFocusOnInit
              *ngxPermissionsOnly="this.tokenDisplayData.activationPermission"
              color="primary"
              (click)="finalizeEnrollment()"
              i18n>Activate Token
      </button>
    </ng-template>
  </mat-step>
</mat-horizontal-stepper>

<mat-dialog-actions align="end">
  <ng-container *ngTemplateOutlet="
        [
          installAppStepActions,
          createTokenStepActions,
          scanQRActions,
          doneStepActions
        ][stepper.selectedIndex]
      ">
  </ng-container>
</mat-dialog-actions>
