<div class="header">
  <mat-icon color="primary">check_circle</mat-icon>
  <div class="header-text">
    <ng-container [ngSwitch]="completionState">
      <ng-container *ngSwitchCase="CompletionState.ACTIVATION_SUCCESS">
        <span i18n="@@activationSuccessMessage">
          You have successfully activated your token.
        </span>
      </ng-container>

      <ng-container *ngSwitchCase="CompletionState.ASSIGN_SUCCESS">
        <span i18n="@@assignSuccessMessage">You have successfully assigned your token.</span>
      </ng-container>

      <!-- TODO LINSELF-220 - delete PUSH_QR_NEEDS_ACTIVATION when activation is integrated in enroll -->
      <ng-container *ngSwitchCase="CompletionState.PUSH_QR_NEEDS_ACTIVATION">
        <span i18n="@@pushQRSuccessMessage">You have successfully enrolled and paired your token. In order to use it, you must activate it first.</span>
      </ng-container>

      <ng-container *ngSwitchCase="CompletionState.PUSH_QR_NO_ACTIVATE_PERMISSION">
        <span i18n="@@pushQRSuccessMessage">You have successfully enrolled and paired your token. In order to use it, you must activate it first.</span>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <span i18n="@@enrollSuccess">
          You have successfully enrolled <span *ngxPermissionsOnly="'VERIFY'">and verified</span> your token.
        </span>
        <br>
      </ng-container>
    </ng-container>

    <span *ngIf="completionState === CompletionState.ACTIVATION_SUCCESS ||
            completionState === CompletionState.ENROLLMENT_SUCCESS"
      i18n="@@usableForAuth">
      It can now be used for authentication.
    </span>
  </div>
</div>

<div class="token-wrapper">
  <app-token-info [token]="token"></app-token-info>
  <app-warning
    class="wrapper"
    *ngIf="completionState === CompletionState.PUSH_QR_NO_ACTIVATE_PERMISSION"
    [msgTmpl]="warningMsgTmpl">
  </app-warning>
</div>

<ng-template #warningMsgTmpl i18n="@@noActivatePermWarning">
  You do not have the required permission to activate the token on your own.
  Contact your administrator to resolve this issue.
</ng-template>