<h2 mat-dialog-title
    i18n>Add {{this.tokenDisplayData.name}}</h2>

<mat-horizontal-stepper [linear]="true"
                        linear>

  <mat-step [stepControl]="enrollmentStep"
            id="stepDescription">
    <form [formGroup]="enrollmentStep"
          (submit)="enrollToken()">

      <mat-dialog-content>
        <p i18n>Create a new token that is paired with your mobile phone to receive OTP values via SMS for
          authentication.
        </p>

        <p *ngIf="!canEditPhone && userPhone"
           i18n>The token will use your user mobile number: <b>{{userPhone}}</b></p>
        <p *ngIf="!canEditPhone && !userPhone"
           class="warning"
           i18n>
          You have no mobile number assigned to your user account and the token will therefore not work after creation.
          You
          may need to contact your administrator for help.
        </p>

        <p i18n>You may set the following token details before creation:</p>
        <mat-form-field *ngIf="canEditPhone">
          <mat-label i18n>Mobile phone number</mat-label>
          <input matInput
                 formControlName="phoneNumber"
                 appFocusOnInit>
          <mat-hint *ngIf="canEditPhone"
                    i18n>Set the mobile phone number to use for your token</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Token description</mat-label>
          <input matInput
                 formControlName="description">
          <mat-hint i18n>Enter a description for your token.</mat-hint>
        </mat-form-field>
      </mat-dialog-content>

      <mat-dialog-actions align="end">
        <div i18n>Step 1 of 2</div>
        <span class="spacer"></span>
        <button mat-button
                type="button"
                (click)="close()"
                i18n>Cancel</button>
        <button mat-raised-button
                color="primary"
                type="submit"
                id="goTo2"
                [disabled]="enrollmentStep.invalid || enrollmentStep.disabled">
          <app-button-wait-indicator [show]="enrollmentStep.disabled"></app-button-wait-indicator>
          <ng-container i18n>Next</ng-container>
        </button>
      </mat-dialog-actions>
    </form>
  </mat-step>

  <mat-step active="false"
            id="stepPIN">

    <mat-dialog-content>
      <p *ngIf="enrolledToken"
         i18n>A token with the serial number {{enrolledToken. serial}} has been created.</p>

      <ng-container *ngxPermissionsOnly="Permission.SETPIN">
        <p i18n>You may set a PIN now to protect your token against misuse, as it ensures only you can use your token.
          This step is optional, and you can still do it later over the token menu.</p>
        <button mat-stroked-button
                color="primary"
                (click)="setPin()"
                i18n>Set pin</button>
      </ng-container>
      <p *ngxPermissionsOnly="Permission.VERIFY"
         class="verify"
         i18n>Please verify with a token test whether you can successfully use the token:</p>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <div i18n>Step 3 of 3</div>
      <span class="spacer"></span>
      <button mat-raised-button
              color="primary"
              (click)="finalizeEnrollment()"> {{ closeLabel }}</button>
    </mat-dialog-actions>
  </mat-step>

</mat-horizontal-stepper>