<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Enroll token</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-select placeholder="Select your desired token type" [(value)]="selectedType" (change)="onSelectChange($event)">
        <mat-option *ngFor="let tokentype of tokentypes" value="{{ tokentype.type }}">
          {{ tokentype.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>
