<app-token-dialog-header [token]="token || null">
  <h3 mat-dialog-title
      i18n>Set a new token PIN</h3>
</app-token-dialog-header>
<form [formGroup]="form"
      (ngSubmit)="submit()">
  <mat-dialog-content>
    <p i18n="@@oathStepperOtpPinInfo">The PIN ensures that you can only use the token yourself. During the
      authentication process, you may need to enter this PIN together with an OTP of the token.</p>
    <app-set-pin-validator [form]="form"
                           [pinControlName]="'newPin'"></app-set-pin-validator>
    <mat-form-field>
      <mat-label>{{ newPinPlaceholder }}</mat-label>
      <input matInput
             type="password"
             formControlName="newPin"
             autofocus
             [attr.aria-invalid]="form.get('newPin')?.invalid && form.get('newPin')?.touched">
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ confirmPinPlaceholder }}</mat-label>
      <input matInput
             type="password"
             formControlName="confirmPin"
             [errorStateMatcher]="matcher"
             [attr.aria-invalid]="form.get('confirmPin')?.invalid && form.get('confirmPin')?.touched">
      <mat-error *ngIf="form.hasError('pinsDoNotMatch')"
                 i18n>Entered PINs do not match</mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button
            mat-dialog-close
            i18n>Cancel</button>
    <button mat-flat-button
            color="primary"
            type="submit"
            [disabled]="preventSubmit()">
      <div class="button-content">
        <app-button-wait-indicator [show]="awaitingResponse"></app-button-wait-indicator>
        <span i18n>Set pin</span>
      </div>
    </button>
  </mat-dialog-actions>
</form>