<h2>{{ isActivation? "Activate" : "Test" }} {{ data.token.typeDetails.name }} {{ data.token.serial }}</h2>
<mat-horizontal-stepper [linear]="true" linear #stepper>
  <mat-step>
    <app-qr-code *ngIf="tokenQRUrl && waitingForResponse" [qrUrl]="tokenQRUrl"></app-qr-code>
    <section *ngIf="showError" class="response">
      <p>An error occurred. Please try again, or contact an administrator.</p>
    </section>
    <mat-dialog-actions align="end">
      <div>{{ isActivation? "Activation" : "Test" }} {{currentStep}} of {{maxSteps}}</div>
      <span class="spacer"></span>
      <button mat-raised-button (click)="cancelDialog()">Cancel</button>
    </mat-dialog-actions>
  </mat-step>
  <mat-step>
    <ng-container *ngIf="!waitingForResponse">
      <section class="response">
        <p *ngIf="restartDialog">{{ isActivation? "Activation" : "Test" }} failed. Please try again, or contact an administrator.</p>
        <p *ngIf="!restartDialog">{{ isActivation? "Activation" : "Test" }} successful. Your token is ready to be used.</p>
      </section>
      <mat-dialog-actions align="end">
        <div>{{ isActivation? "Activation" : "Test" }} {{currentStep}} of {{maxSteps}}</div>
        <span class="spacer"></span>
        <button mat-raised-button (click)="cancelDialog()" *ngIf="restartDialog">Cancel</button>
        <button mat-raised-button (click)="resetDialogToInitial(stepper)" *ngIf="restartDialog">Restart activation</button>
        <button mat-raised-button (click)="closeDialog()" color="primary" *ngIf="!restartDialog">Finish</button>
      </mat-dialog-actions>
    </ng-container>
  </mat-step>
</mat-horizontal-stepper>
