@use "@angular/material" as mat;

section {
  margin: 2em 0;
  @include mat.icon-overrides((
    color: var(--mat-sys-primary),
  ));
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

app-token-card {
  margin: 1em 0;
}


.loading,
mat-spinner {
  text-align: center;

  mat-spinner {
    margin: 2em auto;
  }
}


.total-tokens-info {
  margin: 0;
  text-align: right;
  opacity: 0.8;
  margin-bottom: 5px;
}


.token-limit-info-container {
  padding: 20px 0;
  text-align: center;

  .token-limit-title {
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 7px;
    font-size: 20px;
    font-weight: bold;
  }

  mat-icon {
    font-size: 50px;
    height: 50px;
    width: 50px;
  }
}

.warning-info {
  display: flex;
  align-items: center;
  padding: 10px 15px;

  p {
    margin: 0;
    margin-left: 10px;
    font-size: 15px;
    line-height: 22px;
  }

  mat-icon {
    height: 50px;
    width: 50px;
    font-size: 50px;
  }
}