<mat-accordion *ngIf="tokens">
  <mat-expansion-panel *ngFor="let token of tokens">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ token.serial }}
      </mat-panel-title>
      <mat-panel-description>
        {{ token.description }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        <h3 matLine>Token Type</h3>
        <p matLine>{{ token.type }}</p>
      </mat-list-item>
    </mat-list>
    <mat-action-row>
      <button mat-raised-button class="mat-primary" (click)="setPin(token)">Set PIN</button>
      <button mat-raised-button class="mat-accent" (click)="deleteToken(token)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
