<section *ngIf="!(permissionsLoaded && tokens); else content"
         class="loading"
         id="loadingTokensSection">
  <mat-spinner></mat-spinner>
  <p i18n>Loading tokens…</p>
</section>

<ng-template #content>
  <section id="pendingSection"
           *ngIf="tokens && tokens | unreadyTokens | arrayNotEmpty">
    <h2 i18n>Pending actions</h2>
    <p i18n>The following tokens are not active and require further action:</p>
    <app-token-card *ngFor="let token of tokens | unreadyTokens"
                    [token]="token"
                    (tokenUpdate)="loadTokens()"></app-token-card>
  </section>

  <section id="activeAuthSection"
           *ngIf="tokens | activeTokens | arrayNotEmpty">
    <h2 i18n>Active authentication methods</h2>
    <p i18n>The following tokens are ready to be used:</p>
    <app-token-card *ngFor="let token of tokens | activeTokens"
                    [token]="token"
                    (tokenUpdate)="loadTokens()"></app-token-card>
  </section>

  <section *ngIf="tokens | inactiveTokens | arrayNotEmpty">
    <h2 i18n>Disabled authentication methods</h2>
    <p i18n>The following tokens have been disabled and cannot be used:</p>
    <app-token-card *ngFor="let token of tokens | inactiveTokens"
                    [token]="token"
                    (tokenUpdate)="loadTokens()"></app-token-card>
  </section>

  <ng-container *ngIf="tokens | arrayNotEmpty; then enrollAlternative; else enrollFirst">
  </ng-container>
</ng-template>

<ng-template #enrollAlternative>
  <section id="enrollAlternativeTokenSection"
           *ngxPermissionsOnly="enrollmentPermissions">
    <h2 i18n>Set up a new authentication method</h2>
    <p i18n>The following authentication methods are available:</p>
    <app-enrollment-grid (tokenUpdate)="loadTokens()"></app-enrollment-grid>
  </section>
</ng-template>

<ng-template #enrollFirst>
  <section id="enrollFirstTokenSection"
           *ngxPermissionsOnly="enrollmentPermissions; else emptyState">
    <h2 i18n>Set up your first authentication method</h2>
    <p i18n>
      You currently do not have any authentication method set up.
      Start by selecting your preferred type:
    </p>
    <app-enrollment-grid (tokenUpdate)="loadTokens()"></app-enrollment-grid>
  </section>
  <ng-template #emptyState>
    <section id="emptyStateSection">
      <h2 i18n>No actions available</h2>
      <p i18n>You currently do not own any tokens, nor can you set up a token yourself.
        Please contact your administrator.</p>
    </section>
  </ng-template>
</ng-template>
