<div *ngIf="!tokens; else tokenLists">
  <p>Loading tokens...</p>
</div>
<ng-template #tokenLists>
  <section *ngIf="tokens && tokens | nonActiveTokens | arrayNotEmpty">
    <h2>Pending actions</h2>
    <p>The following tokens are not active yet and need to be paired:</p>
    <app-token-card *ngFor="let token of tokens | nonActiveTokens"
                    [token]="token"
                    (tokenUpdate)="loadTokens()"></app-token-card>
  </section>

  <section *ngIf="tokens | activeTokens | arrayNotEmpty">
    <h2>Active authentication methods</h2>
    <p>The following tokens are ready to be used:</p>
    <app-token-card *ngFor="let token of tokens | activeTokens"
                    [token]="token"
                    (tokenUpdate)="loadTokens()"></app-token-card>
  </section>
</ng-template>

<ng-container *ngxPermissionsOnly="EnrollmentPermissions">
  <ng-container *ngIf="tokens | arrayNotEmpty; then enrollmentSection; else emptyState">
  </ng-container>
</ng-container>

<ng-template #enrollmentSection>
  <section>
    <h2>Set up new authentication method</h2>
    <p>Following alternative authentication methods are available and can be set up:</p>
    <app-enrollment-grid (tokenUpdate)="loadTokens()"></app-enrollment-grid>
  </section>
</ng-template>

<ng-template #emptyState>
  <section>
    <h2>Enroll your first authentication method</h2>
    <p>
      You currently do not have any authentication method enrolled.
      Start by selecting your prefered type:
    </p>
    <app-enrollment-grid (tokenUpdate)="loadTokens()"></app-enrollment-grid>
  </section>
</ng-template>
