<h3 mat-dialog-title
    i18n>Set a new MOTP PIN</h3>
<form [formGroup]="form"
      (ngSubmit)="submit()">

  <mat-dialog-content>
    <p i18n>This is used to generate OTPs which are only known to you. If you change the PIN here, you will also need to
      change it on your device.</p>
    <mat-form-field>
      <mat-label>{{ newPinPlaceholder }}</mat-label>
      <input matInput
             type="password"
             formControlName="newPin"
             autofocus>
      <mat-error i18n
                 *ngIf="form.get('newPin').hasError('required')">This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ confirmPinPlaceholder }}</mat-label>
      <input matInput
             type="password"
             formControlName="confirmPin"
             [errorStateMatcher]="matcher">
      <mat-error i18n
                 *ngIf="form.get('confirmPin').hasError('required')">This field is required.</mat-error>
      <mat-error *ngIf="form.hasError('pinsDoNotMatch') && !form.get('confirmPin').hasError('required')"
                 i18n>Entered PINs do not match</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button
            mat-dialog-close
            i18n>Cancel</button>
    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="preventSubmit()"
            i18n>Set mOTP pin</button>
  </mat-dialog-actions>

</form>