qrcode {
	margin: 20px 0;
	display: flex;
	justify-content: space-around;
}

.toggle-details {
	margin: 10px 0;
	display: flex;
	justify-content: space-around;

	button span {
		font-variant: small-caps;
	}
}

.detail-info {
	display: flex;
	align-items: center;
	margin: 10px 0;

	.mat-mdc-form-field {
		flex: 1;
		margin-bottom: 0;
		font-size: 75%;
	}

	.mat-icon {
		width: 18px;
		height: 18px;
		font-size: 18px;
		line-height: 1;
	}
}


.verify-container {
	display: flex;
	align-items: center;
}

.status-info {
	display:flex;
	margin-top:35px;
	mat-icon {
		margin-right:5px;
	}
}

.separator {
	border-left: 1px solid var(--mdc-dialog-supporting-text-color);
	height: 130px;
	margin: 0 50px;
}

.verify {
	align-self: baseline;
	margin-top: 20px;
	flex-grow: 1;
}


.detail-container {
	margin-top:20px;
}

.no-verify-container {
	text-align: center;
}