<div *ngIf="enrolledToken">
  <!-- Standard layout for enrollment with token verification -->
  <ng-container *ngIf="verifyFlowEnabled;else noVerifyTmp">
    <div class="verify-container d-block d-md-flex">
      <div class="text-center">
        <ng-container *ngTemplateOutlet="qrCodeTmp"></ng-container>
        <ng-container *ngTemplateOutlet="detailButtonsTmp"></ng-container>
      </div>
      <div class="separator d-none d-md-block"></div>
      <div class="verify">
        <app-verify-token [token]="enrolledToken"
                          (tokenVerified)="verified = true"></app-verify-token>
      </div>
    </div>
  </ng-container>

  <!-- Layout when verify policy is not set -->
  <ng-template #noVerifyTmp>
    <div class="no-verify-container">
      <p i18n="@@oathNoVerifyInstruction"
         class="text-start">A token with the serial number {{ enrolledToken.serial }} has been created.
        Please add the token by scanning the QR code in the Authenticator app.</p>
      <ng-container *ngTemplateOutlet="qrCodeTmp"></ng-container>
      <ng-container *ngTemplateOutlet="detailButtonsTmp"></ng-container>
    </div>
  </ng-template>

  <!-- Token details -->
  <ng-container *ngIf="showDetails">
    <mat-card appearance="outlined"
              class="detail-container">
      <mat-card-content>
        <div class="detail-info">
          <mat-form-field appearance="outline"
                          class="inline-no-hint">
            <mat-label i18n>Configuration URL</mat-label>
            <input matInput
                   #enrollmentUrl
                   [value]="enrolledToken.url"
                   (focus)="$event.target.select()"
                   readonly>
          </mat-form-field>
          <button mat-icon-button
                  (click)="$event.preventDefault(); copyInputMessage(enrollmentUrl)"
                  matTooltip="Copy"
                  i18n-matTooltip
                  aria-label="Copy configuration URL"
                  i18n-aria-label>
            <mat-icon>file_copy</mat-icon>
          </button>
        </div>

        <div class="detail-info">
          <mat-form-field appearance="outline"
                          class="inline-no-hint">
            <mat-label i18n>Seed</mat-label>
            <input matInput
                   #enrollmentSeed
                   [value]="enrolledToken.seed"
                   (focus)="$event.target.select()"
                   readonly>
          </mat-form-field>
          <button mat-icon-button
                  (click)="copyInputMessage(enrollmentSeed)"
                  matTooltip="Copy"
                  i18n-matTooltip
                  aria-label="Copy seed"
                  i18n-aria-label>
            <mat-icon>file_copy</mat-icon>
          </button>
        </div>
        <div i18n="@@oathStepperInstallTokenLink">If you use the Authenticator app on the same device you are seeing
          this, you may be able to follow <a target="_blank"
             rel="noopener noreferrer"
             [href]="sanitizer.bypassSecurityTrustUrl(enrolledToken.url)">this link</a>
          to install the token.</div>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <div role="status"
       *ngIf="verifyFlowEnabled">
    <div class="status-info"
         *ngIf="!verified"
         data-test="info-non-verified">
      <mat-icon>error</mat-icon>
      <span i18n="@@oathStepperTokenVerificationRequired">You need to verify the token to continue.</span>
    </div>
    <div *ngIf="verified"
         class="status-info"
         data-test="info-verified">
      <mat-icon color="primary">check_circle</mat-icon>
      <span i18n="@@oathStepperTokenVerificationSuccess">You have successfully verified token. You may proceed to next
        step.</span>
    </div>
  </div>
</div>

<!-- Token details toggle buttons -->
<ng-template #detailButtonsTmp>
  <button (click)="showDetails = !showDetails"
          mat-stroked-button
          color="primary"
          type="button"
          [attr.aria-expanded]="showDetails">
    <mat-icon>{{ showDetails ? 'visibility_off' : 'visibility' }}</mat-icon>
    <span *ngIf="showDetails"
          i18n>hide token details</span>
    <span *ngIf="!showDetails"
          i18n>show token details</span>
  </button>
</ng-template>

<ng-template #qrCodeTmp>
  <qrcode role="img"
          aria-label="QR code to scan with your authenticator app"
          i18n-aria-label="@@qrCodeAriaLabel"
          [qrdata]="enrolledToken.url"
          [width]="240"
          [margin]="2"
          [errorCorrectionLevel]="'L'"></qrcode>
</ng-template>