 /* Global imports */

 @import url('https://fonts.googleapis.com/css?family=Roboto|Material+Icons');
 /* end of global imports */

 /* Theming: */

 @import '~@angular/material/theming';
 @include mat-core();
 $theme-app-primary: mat-palette($mat-blue-grey);
 $theme-app-accent: mat-palette($mat-red, A200, A100, A400);
 $theme-app-warn: mat-palette($mat-red);
 $theme: mat-light-theme($theme-app-primary, $theme-app-accent, $theme-app-warn);
 @include angular-material-theme($theme);
 /* end of theming */

 /* Global styles: */

 body {
   margin: 0;
 }

 .toolbar {
   @include mat-elevation(1);
   margin-bottom: 1rem;
 }

 .component-container {
   top: 0;
   bottom: 0;
   display: flex;
   &>* {
     padding: 0;
   }
   .component-sidenav {
     @include mat-elevation(1);
     background: white;
     min-width: 20rem;
     max-width: 25rem;
     padding-left: 1em;
     padding-right: 1em;
     padding-bottom: 1em;
   }
   .component-main {
     margin-left: 0;
     padding: 0;
     width: 100%;
   }
 }
