<h2 mat-dialog-title i18n>Add {{ this.tokenDisplayData.name }}</h2>
<mat-horizontal-stepper [linear]="true">
  <mat-step [completed]="false" [editable]="false">
    <mat-dialog-content>
      <ng-template matStepLabel i18n>Create token</ng-template>
      <p i18n>Pair a new token with your email address to receive OTP values for authentication.</p>
      <p *ngIf="!canEditEmail && userEmail" i18n>The token will use your user email address: <b>{{ userEmail }}</b></p>
      <p *ngIf="!canEditEmail && !userEmail"
         class="warning" i18n>
        You have no email address assigned to your user account and the token will therefore not work after creation.
        You may need to contact your administrator for help.
      </p>
      <form [formGroup]="createTokenForm" (keydown.enter)="enrollEmailToken()">
        <mat-form-field *ngIf="canEditEmail">
          <mat-label i18n>Email address</mat-label>
          <input matInput formControlName="emailAddress" appFocusOnInit>
          <mat-hint i18n>Set the email address to use for your token</mat-hint>
          <mat-error i18n *ngIf="createTokenForm.get('emailAddress').hasError('required')">
            This field is required.
          </mat-error>
        </mat-form-field>
        <app-create-token-step [form]="createTokenForm"></app-create-token-step>
      </form>
    </mat-dialog-content>
  </mat-step>

  <ng-template #createTokenStepActions>
    <app-step-actions
      [awaitingResponse]="awaitingResponse"
      [disableSubmit]="createTokenForm.invalid || awaitingResponse"
      (cancelled)="close()"
      (submitted)="enrollEmailToken()"
    >
    </app-step-actions>
  </ng-template>

  <mat-step *ngIf="verifyPolicyEnabled">
    <ng-template matStepLabel i18n>Verify</ng-template>
    <mat-dialog-content>
      <app-verify-token [token]="enrolledToken" (tokenVerified)="isTokenVerified = true; stepper.next()"></app-verify-token>
    </mat-dialog-content>
  </mat-step>

  <ng-template #verifyTokenStepActions>
    <app-step-actions
      [awaitingResponse]="undefined"
      [disableSubmit]="!isTokenVerified"
      (cancelled)="cancel()"
      (submitted)="stepper.next()"
    >
    </app-step-actions>
  </ng-template>
  <mat-step>
    <ng-template matStepLabel i18n>Done</ng-template>
    <mat-dialog-content>
      <app-done-step [token]="enrolledToken"></app-done-step>
    </mat-dialog-content>
    <ng-template #doneStepActions>
      <app-step-actions [disableSubmit]="false" [isDoneStep]="true" (submitted)="close()"></app-step-actions>
    </ng-template>
  </mat-step>
</mat-horizontal-stepper>

<mat-dialog-actions align="end">
  <ng-container *ngTemplateOutlet="
        (verifyPolicyEnabled ?
        [createTokenStepActions, verifyTokenStepActions, doneStepActions] :
        [createTokenStepActions, doneStepActions])
        [stepper.selectedIndex]"
  ></ng-container>
</mat-dialog-actions>
